@mixin box-shadow($properties...) {
	// -moz-box-shadow: $properties;
	// -ms-box-shadow: $properties;
	// -webkit-box-shadow: $properties;
	// box-shadow: $properties;
	filter: drop-shadow($properties);
}

@mixin shadow-filter($properties...) {
	-webkit-filter: drop-shadow($properties);
	filter: drop-shadow($properties);
}

@mixin box-sizing($sizing) {
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin border-radius($properties...) {
	-moz-border-radius: $properties;
	-ms-border-radius: $properties;
	-webkit-border-radius: $properties;
	border-radius: $properties;
}