@mixin box-shadow($properties...) {
	-moz-box-shadow: $properties;
	-ms-box-shadow: $properties;
	-webkit-box-shadow: $properties;
	box-shadow: $properties;
}

@mixin box-sizing($sizing) {
	box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}