@import 'photon/colors';
@import 'photon/img';
@import 'util';

body {
	background: $bgcol;
	font: 15px $font;
}

a {
	text-decoration: none;
}

div#topbar, div.dropdown-menu {
	background: #000;
	opacity: 0.8;
	padding: 2px;
}

div#topbar {
	// @include box-shadow(0px 2px 2px 2px $shadowcol);
	@include shadow-filter(0px 2px 2px $shadowcol);
}

div.dropdown-menu {
	color: #FFF;
}

header, div#top-pane, a {
	color: $linkcol;
}

span#site-title, div#board-title {
	font-weight: 800;
}