@import 'pipes/colors';
@import 'pipes/front';
@import 'pipes/manage';
@import 'pipes/img';
@import 'util';

* {
	outline: none;
}

body {
	background: $bgcol;
	background-image: url(res/pipes_bg.png);
	color: #d8d0b9;
	font: $font;
}

header h1, span#site-title {
	color: $headercol;
}

a {
	color: $linkcol;
	font: $font;
	text-decoration: none;
}

a:hover {
	background: inherit;
	color: $linklight;
}

a.topbar-item:hover {
	background: $bglight;
}

div#footer, div#footer * {
	font-size: 9pt;
}

div#topbar {
	background: $topbarcol;
	// @include box-shadow(0px 2px 2px 3px $shadowcol);
	@include shadow-filter(0px 4px 2px $shadowcol);
	z-index: 9001;

	li:hover {
		background: $bglight;
	}
}