#boardmenu-bottom {
	margin-top:16px;
}

#content {
	margin-left:0px;
	padding-left:0px;
}

#left-bottom-content {
	float:left;
	left:0px;
}

a.anchor {
	display: block;
	position: relative;
	top: -32px;
	visibility: hidden;
}

div.catalog-thread {
	width:200px;
	max-height: 250px;
	display:inline-block;
	position:relative;
	vertical-align:top;
	overflow: hidden;
	text-align: center;
	padding: 6px;
}

div.catalog-thread a {
	clear: both;
}

table#pages {
	margin-bottom:8px;
	margin-top:4px;
	border: 1px solid;
}

table#pages td {
	border: 1px solid;
}

#postbox-area {
	left:0px;
	width:100%;
}

#report-delbox {
	clear:both;
	float:right;
	line-height:32px;
	margin-top:8px;
	text-align:right;
}

#right-bottom-content {
	float:right;
	right:0px;
}

#side-pane {
	margin-right:16px;
	position:absolute;
	top:106px;
	width:15%;
}

#threadlinks-bottom {
	clear:both;
	float:right;
}

#threadlinks-top {
	float:left;
	position:absolute;
}

.reply {
	margin-bottom: 4px;
	padding:4px 8px 4px 8px;
	display:inline-block;
	max-width: 100%;
}

.reply-container {
	width:100%;
}

.postblock {
	margin-left:8px;
	margin-right:8px;
	width:100px;
}

.post-text {
	padding: 8px;
}

.setting-name {
	width:50%;
}

.setting-value {
	text-align:right;
	width:50%;
}

.spoiler {
	background:#000;
	color:#000;
}

.spoiler:hover {
	color:#FFF;
}

.subject {
	font-weight:700;
}

.thread {
	vertical-align:top;
	overflow: hidden;
	width: 100%;
}

.op-post {
	width:100%;
}

a.permalink,#right-sidelinks {
	float:right;
}

hr {
	clear:both;
}

a.upload-container {
	outline: none;
}

.upload {
	float:left;
	max-width: 100%;
	margin: 5px 10px 10px 0px;
}

div.file-deleted-box {
	width: 120px;
	height: 120px;
	border-style: dashed;
	vertical-align: middle;
	text-align: center;
	line-height: 120px;
	float: left;
	margin:4px 8px;
	border-width: 2px;
}

input[type=file] {
	max-width: 275px;
	width: 275px;
}

input {
	filter: none;
}

table#postbox-static {
	border: none;
	tr, td {
		border: none;
	}
	margin: 0px auto;
}

.greentext {
	color: #789922;
}

div.postprev {
	position:absolute;
	overflow: hidden;
	margin:8px;
	padding: 4px 8px 4px 8px;
}

div.inlinepostprev {
	overflow: hidden;
	margin:8px;
	padding: 4px 8px 4px 8px;
}