@import 'colors';

.file-info {
	background: inherit;
	color: #CC1105;
	font-weight: 800;
}


#board-title {
	color: maroon;
	font-size: 2em;
	text-align: center;
}

.manage-header {
	background: #AA6;
	color: #400000;
	padding: 0;
}

.omittedposts, {
	color: #707070;
}

.passvalid {
	background: #000;
	color: #fff;
	text-align: center;
	width: 100%;
}

.postblock {
	background: #000;
	color: #fff;
	font-weight: 800;
}

.postername {
	color: #117743;
	font-weight: 700;
}

.postertrip {
	color: #228854;
}

.postlists {
	background: #FFF;
	color: maroon;
	padding: 0;
	width: 100%;
}

.reply {
	background: #F0E0D6;
	color: maroon;
}

.replytitle {
	color: #CC1105;
	font-size: 1.2em;
	font-weight: 800;
}

.theader {
	background: #E04000;
	color: #FFF;
	padding: 2px;
	text-align: center;
	width: 100%;
}

.file-deleted-box {
	color: maroon;
	font-size: small;
}

.greentext {
	background: inert;
	color: #789922;
}

a:hover {
	color: #D00;
}