@import '../util';

.lightbox {
	background:#CDCDCD;
	border:1px solid #000;
	bottom:5%;
	color:#000;
	left:20%;
	padding:16px;
	position:fixed;
	right:20%;
	top:5%;
	z-index:9001;
	overflow: auto;
	// display:hidden;
}

.lightbox * {
	// box-shadow: 0px 0px 0px 0px #000000;
	@include shadow-filter(0px 0px 0px #000);
	color:#000000;
}

.lightbox-bg {
	background-attachment:fixed;
	background:#333;
	height:100%;
	left:0;
	opacity:0.5;
	position:fixed;
	top:0;
	width:100%;
	z-index:9000;
}

.lightbox-footer {
	background:#CDCDCD;
	bottom:0px;
	clear:both;
	left:0px;
	position:absolute;
	right:0px;
	text-align:center;
	padding: 12px
}

.lightbox-title {
	font-size:42px;
	font-weight:700;
	text-align:center;
}

.lightbox-x {
	color: #000!important;
	float: right;
	font-size: 32px;
	font-weight: 700;
}

.lightbox-x:hover {
	color:#555;
}

.lightbox a {
	color: #5A5A5A;
	font-weight: bold;
}

.lightbox input[type=text],
.lightbox input[type=password],
.lightbox input[type=file],
.lightbox textarea {
	background:#FFF;
	border:1px solid #000;
	color:#000;
}

.lightbox textarea#sql-statement {
	width:95%;
	height:300px;
	margin-left: 0px;
	clear: both;
	background: #FFF;
	color: #000;
}

.lightbox div.section-body {
	background: #A0A0A0;
}

.lightbox div.section-title-block {
	border: 1px solid #000;
	border-radius: 0px;
	background: #777;
	// box-shadow: 0px 0px 0px 0px #000000;
	@include shadow-filter(0px 0px 0px #000);
}