@use '../util';

.lightbox {
	background:#CDCDCD;
	border:1px solid #000;
	bottom:5%;
	color:#000;
	left:20%;
	padding:16px;
	position:fixed;
	right:20%;
	top:5%;
	z-index:9001;
	overflow: auto;

	* {
		@include util.shadow-filter(0px 0px 0px #000);
		color:#000000;
	}

	a {
		color: #5A5A5A;
		font-weight: bold;
	}

	input[type=text], input[type=password], input[type=file], textarea {
		background: #FFF;
		border: 1px solid #000;
		color: #000;
	}

	div.section-body {
		background: #A0A0A0;
	}

	div.section-title-block {
		border: 1px solid #000;
		border-radius: 0px;
		background: #777;
		@include util.shadow-filter(0px 0px 0px #000);
	}

	.ui-tabs-tab {
		background-color: #BBB;
		border: none;
		a {
			color: black;
		}
	}
	.ui-tabs-active {
		background-color: #DDD;
		border: none;
	}
	.ui-tabs-panel {
		background-color: #DDD;
		border: none;
	}
}

.lightbox-bg {
	background-attachment:fixed;
	background:#333;
	height:100%;
	left:0;
	opacity:0.5;
	position:fixed;
	top:0;
	width:100%;
	z-index:9000;
}

.lightbox-footer {
	background:#CDCDCD;
	bottom:0px;
	clear:both;
	left:0px;
	position:absolute;
	right:0px;
	text-align:center;
	padding: 12px
}

.lightbox-title {
	text-align:center;
	margin-top: 0px;
}

.lightbox-x {
	color: #000!important;
	float: right;
	font-size: inherit;
}

.lightbox-x:hover, .lightbox-x:active {
	color:#555;
}

.settings-grid {
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90%;
	margin: auto;
	span:nth-child(2n+1) {
		font-weight: bold;;
	}
	.span2 {
		grid-column: span 2;
	}
	textarea {
		width: 90%;
		height: 6em;
	}
}