.loginbox {
	width:300px;
	height: 120px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -150px;
	margin-top: -60px;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	border: solid 1px;
}

.loginbox input {
	width:175px;
	height: 30%;
}

h1, h2 {
	padding-left: 4px;
	padding-right: 4px;
}

table.mgmt-table {
	td.table-actions {
		text-align: center;
	}
	th {
		padding: 4px;
	}
}

.banlist, .wordfilters {
	margin-top: 4px;
	width: 100%;
}

table#recentposts {
	width: 100%;
	border-collapse: collapse;
	td {
		border: 1px solid;
	}
}

input.config-text {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 4px;
	width: 100%;
	height: 100%;
}

.warning, div.config-status {
	color:red;
	font-weight: bold;
}

textarea.viewlog, textarea.template-text {
	width: 80%;
	white-space: pre;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td#boardslist, td#conditions {
	label {
		display:block;
	}
}