.install-container {
	margin: 0 auto;
	max-width: 80%;
	padding: 1em 0;

	textarea.license {
		width: 50%;
		height: 16em;
		margin: 1em auto;
		display: block;

	}

	.buttons {
		display: block;
		text-align: center;
		margin-top: 0.5em;
	}
	table {
		margin: 0 auto;
	}
}