@import 'colors';
@import '../global/colors';

h1#board-title {
	font-family: serif!important;
	font-size: 24pt;
	color: $headercol;
}

.postblock {
	background:#9988EE;
}

div.file-info {
	font-size:12px;
	font-family:sans-serif;
}

span.postername {
	font-size:12px;
	font-family:serif;
	color: $namecol;
	font-weight:800;
}

div.reply,
div.thread-ddown-menu,
div.postprev,
div.inlinepostprev {
	background:#D6DAF0;
}

div.thread-ddown-menu,
div.postprev,
div.inlinepostprev {
	border: 1px solid $bordercol;
}