*.bak
/html/index.html
/html/test*
/html/boards.json
.vscode/settings.json
.parcel-cache
*.swp
.vagrant/
*.log
/templates/override

# Go output
/gochan*
/releases/
*.so
__debug_bin*

# Node.js/TypeScript
/html/js/
node_modules
/frontend/coverage
/frontend/tests/coverage

# Python
__pycache__
.venv/

# SQLite
*.db
*.*-journal