/gochan*
/lib/
/log/
/releases/
/vagrant/.vagrant/
/html/boards.json
/html/index.html
/html/test*
/html/javascript/consts.js
/html/js/consts.js
/templates/override
*.bak
*.log
*.swp
__debug_bin
node_modules
/frontend/coverage
/frontend/tests/coverage
.parcel-cache