@import 'colors';
@import '../util';

.loginbox input {
	height: 20%;
}

.manage-header {
	background: $topbarcol;
	// @include box-shadow(2px 2px 3px 4px $shadowcol);
	@include shadow-filter(4px 4px 4px $shadowcol);
	border-radius: 8px;
}