$bgcol: #eee;
$replycol: #ddd;
$replyborder: #ccc;
$fontcol: #333;
$linkcol: #f60;
$subjectcol: #024;
$shadowcol: #292929;
$sectionbg: #FCFCFC;
$sectionborder: #D7D7D7;

$font: 'Trebuchet MS',Trebuchet,sans-serif;