@use '../util';
@use 'colors';

div.reply,
div.postprev,
div.inlinepostprev,
th.postblock {
	background: colors.$replycol;
	border: 1px solid colors.$replyborder;
	@include util.border-radius(5px);
}

span.subject {
	color: colors.$subjectcol;
}

div.section-title-block {
	background: colors.$replyborder;
}

div.section-block {
	@include util.border-radius(5px);
	background: colors.$sectionbg;
	border: 1px solid colors.$sectionborder;
}