* {
-ms-word-break: break-all;
     word-break: break-all;

     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

#footer {
	clear:both;
	display: block;
	width: 100%;
	text-align: center;
	bottom: 0px;
	overflow: hidden;

}

.page {
	float: left;
	width: 75%;
	margin-left: 8px;
	overflow-y: hidden;
}

#menu {
	position:absolute;

}

#side-pane {
	position:absolute;
	top: 106px;
	width:15%;
	margin-right: 16px;
}

#site-title {
	font-size:50px;
	text-align: center;
}

#tab-bar {
	margin-left: 16px;

}

div#topbar {
	left:0;
	position:fixed;
	top:0;
	height:26px;
	width:100%;
	z-index:2;
	margin-top:0px;
	padding-left:8px;
	padding-right:4px;
	overflow-x: hidden;
}

.topbar-item {
	display: inline-block;
	padding: 4px;
}

.dropdown-menu {
	position: fixed;
	min-width: 300px;
	min-height: 100px;
	top: 24px;
	right: 0px;
	z-index:8999;
	padding: 4px 8px 4px 8px;
}


.topbar-dropdowns{
	overflow: hidden;
	float: right;
}

.dropdown-button {
	display: inline;
	padding: 4px;
	float: right;
}

.plus {
	width: 12px;
	text-align: center;
	float:right;
	padding: 0px 4px 0px 4px;
}

.tab {
	padding-right: 5px;
	padding-left: 5px;
	display: inline;
}

.section-body {
	overflow-y: hidden;
	margin-right: 0px;
	margin-bottom:8px;
	min-height: 48px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
}

.section-block {
	margin-bottom: 8px;
}

#top-pane {
	text-align:center;
	margin-top:32px;
	width:100%;
	z-index: 1;
}


#recent-posts {
	width:22%;
	float: right;
	margin-right: 8px;
	display: inline-block;
}

#recent-posts img {
	float: left;
	padding-right: 8px;
}

#recent-posts .section-body {
	padding-top: 8px;
}

.section-title-block {
	display:block;
	padding:4px 8px 4px 8px;
}

#main {
	overflow: hidden
}

a.permalink {
	float: right;
}

ul.staffmenu {
	list-style:none;
	margin:0px;
	padding-left:0;
}

