#board-title {
	font-size:50px;
	text-align:center;
}

#boardmenu-bottom {
	margin-top:16px;
}

#content {
	margin-left:0px;
	padding-left:0px;
}

#footer {
	bottom:0px;
	clear:both;
	left:0px;
	position:static;
	text-align:center;
	width:100%;
}

#left-bottom-content {
	float:left;
	left:0px;
}

#main {
	height:100%;
	left:0px;
	padding-left:8px;
	position:absolute;
	right:21%;
	top:124px;
	width:auto;
}

#menu {
	position:absolute;
}

a.anchor {
	display: block;
	position: relative;
	top: -32px;
	visibility: hidden;
}

table#pages {
	margin-bottom:8px;
	margin-top:4px;
	border: 1px solid;
}

table#pages td {
	border: 1px solid;
}

#postbox-area {
	left:0px;
	width:100%;
}

#report-delbox {
	clear:both;
	float:right;
	line-height:32px;
	margin-top:8px;
	text-align:right;
}

#right-bottom-content {
	float:right;
	right:0px;
}

#side-pane {
	margin-right:16px;
	position:absolute;
	top:106px;
	width:15%;
}

#tab-bar {
	clear:both;
	margin-left:16px;
}

#threadlinks-bottom {
	clear:both;
	float:right;
}

#threadlinks-top {
	float:left;
	position:absolute;
}

#top-pane {
	margin-top:32px;
	text-align:center;
	width:100%;
	z-index:1;
}

#topbar {
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:2;
	margin-top:0px;
	padding-left:8px;
	padding-right:4px;
}

#topbar div {
	padding:4px;
}

.thread-ddown-menu {
	display:inline-block;
	float:left;
	margin-left:-4px;
	margin-top:8px;
	padding:4px;
	position:absolute;
}

.thread-ddown-menu ul {
	list-style:none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.thread-ddown-menu li {
	padding-left: 8px;
	padding-right: 8px;
}


.dropdown-menu {
	list-style: none;
	min-height:100px;
	min-width:300px;
	padding:4px 8px;
	position:fixed;
	right:0;
	top:24px;
	z-index:8999;
}

.plus {
	float:right;
	padding:0px 4px;
	text-align:center;
	width:12px;
}

.reply {
	margin-bottom: 4px;

	padding:4px 8px 4px 8px;
	display:inline-block;
	max-width: 100%;
}

.reply-container {
	width:100%;
}

.postblock {
	margin-left:8px;
	margin-right:8px;
	width:100px;
}

.post-text {
	white-space: pre-wrap;
	padding: 8px;
}

.setting-name {
	width:50%;
}

.setting-value {
	text-align:right;
	width:50%;
}

.spoiler {
	background-color:#000;
	color:#000;
}

.spoiler:hover {
	color:#FFF;
}

.subject {
	font-weight:700;
}

.tab {
	display:block;
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.thread {
	vertical-align:top;
	overflow: hidden;
	width: 100%;
}

.op-post {
	width:100%;
}

.topbar-item {
	display: inline-block;
	padding: 4px;
}

.topbar-dropdowns{
	overflow: hidden;
	float: right;
}

.dropdown-button {
	display: inline;
	padding: 4px;
	float: right;
}

a.permalink,#right-sidelinks {
	float:right;
}

hr {
	clear:both;
}


.upload {
	float:left;
	max-width: 100%;
	margin: 5px 10px 10px 0px;
}

ul.staffmenu {
	list-style:none;
	margin:0px;
	padding-left:0;
}

div.file-deleted-box {
	width: 120px;
	height: 120px;
	border-style: dashed;
	vertical-align: middle;
	text-align: center;
	line-height: 120px;
	float: left;
	margin:4px 8px;
	border-width: 2px;
}

input[type=file] {
	max-width: 275px;
	width: 275px;
}

table#postbox-static {
	margin: 0px auto;
}

.greentext {
  color: #789922;
}
