#board-title {
	font-size:50px;
	text-align:center;
}

#boardmenu-bottom {
	margin-top:16px;
}

#content {
	margin-left:0px;
	padding-left:0px;
}

#footer {
	bottom:0px;
	clear:both;
	left:0px;
	position:static;
	text-align:center;
	width:100%;
}

#left-bottom-content {
	float:left;
	left:0px;
}

#main {
	height:100%;
	left:0px;
	padding-left:8px;
	position:absolute;
	right:21%;
	top:124px;
	width:auto;
}

#menu {
	position:absolute;
}

#pages {
	margin-bottom:8px;
	margin-top:4px;
}

#postbox-area {
	left:0px;
	width:100%;
}

#report-delbox {
	clear:both;
	float:right;
	line-height:32px;
	margin-top:8px;
	text-align:right;
}

#right-bottom-content {
	float:right;
	right:0px;
}

#side-pane {
	margin-right:16px;
	position:absolute;
	top:106px;
	width:15%;
}

#tab-bar {
	clear:both;
	margin-left:16px;
}

#threadlinks-bottom {
	clear:both;
	float:right;
}

#threadlinks-top {
	float:left;
	position:absolute;
}

#top-pane {
	margin-top:32px;
	text-align:center;
	width:100%;
	z-index:1;
}

#topbar {
	display:block;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:2;
}

#topbar ul {
	display:inline;
	list-style-type:none;
	margin-top:0px;
	padding-left:8px;
	padding-right:4px;
	position:relative;
}

.dropdown-button {
	float:right;
	list-style:none;
	margin-right:8px;
	text-decoration:none;
}

.dropdown-menu {
	min-height:100px;
	min-width:300px;
	padding:4px 8px;
	position:fixed;
	right:0;
	top:24px;
	z-index:8999;
}

.plus {
	float:right;
	padding:0px 4px;
	text-align:center;
	width:12px;
}

.post {
	float: left;
	margin:4px;
	overflow:hidden;
	padding:4px;
}

.postblock {
	margin-left:8px;
	margin-right:8px;
	width:100px;
}

.posttext {
	margin-left:12px;
	margin-right:12px;
	margin-top:12px;
}

.section-block {
	padding-bottom:8px;
}

.section-body {
	margin-bottom:8px;
	margin-right:0px;
	min-height:48px;
	overflow:hidden;
	right:0px;
}

.section-title-block {
	display:block;
}

.setting-name {
	width:50%;
}

.setting-value {
	text-align:right;
	width:50%;
}

.spoiler {
	background-color:#000;
	color:#000;
}

.spoiler:hover {
	color:#FFF;
}

.subject {
	font-weight:700;
}

.tab {
	display:block;
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.thread {
	vertical-align:top;
}

.thread-ddown-menu {
	display:inline-block;
	float:left;
	margin-left:-4px;
	margin-top:8px;
	padding:4px;
	position:absolute;
}

.topbar-item {
	float:left;
}

a.permalink,#right-sidelinks {
	float:right;
}

hr {
	clear:both;
}

img.thumbnail {
	float:left;
	margin:4px 8px;
}

ul.boardmenu {
	list-style:none;
	margin:0px;
	padding-left:0;
}

div.file-deleted-box {
	width: 120px;
	height: 120px;
	border-style: dashed;
	vertical-align: middle;
	text-align: center;
	line-height: 120px;
	float: left;
	margin:4px 8px;
	border-width: 2px;
}

input[type=file] {
	max-width: 275px;
}