$topbarcol: #202020;
$bgcol: #363942;
$bglight: #404040;
$shadowcol: #101010;
$linkcol: #f90;
$linklight: #ffd43f;
$headercol: #e1b400;
$font: 12pt sans-serif;
$postblock: #25272D;
$postblockcol: #8C94AB;