@use 'colors';
@use '../util';

.dropdown-button:hover {
	background: colors.$bglight;
}

.section-body {
	background: #606060;
}

.section-title-block {
	background: colors.$topbarcol;
	border-radius: 4px 4px 0px 0px;
}

.tab {
	background: colors.$bglight;
	border: 1px solid colors.$bgcol;
}

#current-tab {
	background: colors.$bgcol;
}

div#recent-posts-header {
	// @include box-shadow(0px 2px 2px 3px $shadowcol);
	@include util.shadow-filter(0px 2px 3px colors.$shadowcol);
	margin-bottom: 8px;
	padding: 4px 8px 4px 8px;
}

.postblock {
	background: colors.$bgcol;
	font-weight: 700;
}
