@use '_colors';
@use '../util';

.dropdown-button:hover {
	background: colors.$bglight;
}

img.thumbnail {
	float: left;
	max-width: 100%;
	margin: 5px 10px 10px 0px;
}

.reply, .inlinepostprev, .postprev {
	background: colors.$postblock;
	border: 1px solid colors.$postblockcol;
}

.postblock,
table.mgmt-table tr:first-of-type th {
	background: colors.$postblock;
	font-weight: 700;
}

.postername {
	color: #FC0;
	font-weight: 700;
}

.postername a {
	color: #ffcc00;
	text-decoration: underline;
}

.subject {
	color: #F90;
}

.tripcode {
	color: #FC0;
}

div#content {
	input:not([type=submit]):not([type=button]),
	textarea,
	select#changepage,
	select.post-actions {
		background: colors.$postblock;
		border: 1px solid colors.$postblockcol;
		color: #FFF;
	}
}
