div.section-title-block {
  background: #151515;
  border: 1px solid #B0790A;
  border-radius: 5px 5px 0px 0px;
}

div.front-intro {
  border-radius: 0px;
  border-width: 1px;
}

div.section-body {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #117743;
  border-radius: 0px 0px 5px 5px;
  background: #282A2E;
}

select#changepage, table#postbox-static input,
table#postbox-static select,
table#postbox-static textarea,
table#postbox-static input[type=file]::file-selector-button,
table#postbox-static input[type=file]::-webkit-file-upload-button, div#report-delbox input,
div#report-delbox select,
div#report-delbox textarea,
div#report-delbox input[type=file]::file-selector-button,
div#report-delbox input[type=file]::-webkit-file-upload-button {
  background: #282A2E;
  border: 1px double #07371F;
  color: #ACACAC;
}

div.reply,
th.postblock,
div.postprev,
div.inlinepostprev,
table.mgmt-table tr:first-of-type th {
  background: #282A2E;
  border: 1px solid #117743;
  border-radius: 5px;
}

table#postbox-static input,
table#postbox-static select,
table#postbox-static textarea,
table#postbox-static input[type=file]::file-selector-button,
table#postbox-static input[type=file]::-webkit-file-upload-button, div#report-delbox input,
div#report-delbox select,
div#report-delbox textarea,
div#report-delbox input[type=file]::file-selector-button,
div#report-delbox input[type=file]::-webkit-file-upload-button {
  border-radius: 5px;
}
table#postbox-static button, table#postbox-static input[type=submit], div#report-delbox button, div#report-delbox input[type=submit] {
  background: #16171A;
}

body {
  background: #1D1F21;
  color: #ACACAC;
  font-family: monospace, sans-serif;
  font-size: 70%;
}

header {
  color: #663E11;
}

hr {
  color: #117743;
}

a, a:visited {
  color: #B0790A;
  text-decoration: none;
}

div#staff, select.post-actions {
  background: #151515;
  border: 1px solid #B0790A;
}

div#topbar,
div#topbar a,
div#topbar a:visited {
  background: #151515;
  border-bottom: 1px solid #B0790A;
}

table#pages, table#pages * {
  border: none;
}
