body {
  background: #CCC;
  font-family: monospace, sans-serif;
  font-size: 80%;
}

div#topbar {
  background: #ACACAC;
  border-bottom: 1px solid #B0790A;
}

a {
  color: #A00;
  text-decoration: none;
}
a:hover {
  text-shadow: 0px 0px 5px #117743;
}

header {
  color: #663E11;
}

hr {
  border: none;
  border-top: 1px solid #117743;
  height: 0;
}

div#content input, div#content select, div#content textarea {
  border: 1px double #07371F;
  border-radius: 5px;
  background: #DDD;
  color: #000;
}
div#content input:active, div#content select:active, div#content textarea:active {
  -webkit-filter: drop-shadow(0px 0px 5px #117743);
  filter: drop-shadow(0px 0px 5px #117743);
}
div#content input[type=button],
div#content input[type=submit],
div#content input[type=file]::file-selector-button,
div#content input[type=file]::webkit-file-upload-button {
  background: #A7A7A7;
  border: 3px double #07371F;
  border-radius: 5px;
  color: #000;
}

div.reply,
div.section-block,
th.postblock,
div.postprev,
div.inlinepostprev {
  background: #DDD;
  border: 1px solid #117743;
  border-radius: 5px;
  text-align: left;
}

span.subject {
  font-weight: bold;
  color: #34ED3A;
}

table#pages, table#pages * {
  border: none;
}

div.section-title-block {
  background: #A7A7A7;
  border-bottom: 1px solid #117743;
}
