body {
  background: #1E1E1E;
  font-family: sans-serif;
  color: #999;
}

a {
  text-decoration: none;
  color: #CCC;
}

div#topbar {
  background: #666;
  border-bottom: 1px solid #999;
}
div#topbar a {
  text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
}

header {
  color: #32DD72;
}

div#content input:not(div#qrbuttons input),
div#content textarea, div#content select {
  background: #333;
  border: 1px solid #666;
  color: #CCC;
}

th.postblock, table.mgmt-table tr:first-of-type th {
  background: #282A2E;
  border: 1px solid #888;
  border-radius: 5px;
  text-align: left;
}

div.reply,
div.postprev,
div.inlinepostprev {
  background: #333;
  border: 1px solid #555;
  border-radius: 5px;
}

span.postername {
  color: #32DD72;
  font-weight: bold;
}
span.postername a {
  text-decoration: underline;
}

span.tripcode {
  color: #32DD72;
}

.dropdown-menu {
  background: #666 !important;
}
.dropdown-menu b {
  color: black;
}

span.subject {
  color: #446655;
}

table#pages, table#pages * {
  border: none;
}
