body {
  background: #1E1E1E;
  font-family: sans-serif;
  color: #999;
  font-size: 80%;
}

a {
  text-decoration: none;
  color: #CCC;
}

div#topbar {
  background: #666;
  border-bottom: 1px solid #999;
}
div#topbar a {
  text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
}

header {
  color: #32DD72;
}

input:not(div#qrbuttons input),
textarea {
  background: #333;
  border: 1px solid #666;
  color: #CCC;
}

th.postblock {
  background: #282A2E;
  border: 1px solid #888;
  border-radius: 5px;
  text-align: left;
}

select.post-actions {
  color: #999;
}

div.reply,
div.postprev,
div.inlinepostprev,
select.post-actions {
  background: #333;
  border: 1px solid #555;
  border-radius: 5px;
}

span.postername {
  color: #32DD72;
  font-weight: bold;
}
span.postername a {
  text-decoration: underline;
}

span.tripcode {
  color: #32DD72;
}

span.subject {
  color: #446655;
}

table#pages, table#pages * {
  border: none;
}
