#boardmenu-bottom {
  margin-top: 16px;
}

#content {
  margin-left: 0px;
  padding-left: 0px;
}

#left-bottom-content {
  float: left;
  left: 0px;
}

a.anchor {
  display: block;
  position: relative;
  top: -32px;
  visibility: hidden;
}

div.catalog-thread {
  width: 200px;
  max-height: 250px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  padding: 6px;
}

div.catalog-thread a {
  clear: both;
}

table#pages {
  margin-bottom: 8px;
  margin-top: 4px;
  border: 1px solid;
}

table#pages td {
  border: 1px solid;
}

#postbox-area {
  left: 0px;
  width: 100%;
}

#report-delbox {
  clear: both;
  float: right;
  line-height: 32px;
  margin-top: 8px;
  text-align: right;
}

#right-bottom-content {
  float: right;
  right: 0px;
}

#side-pane {
  margin-right: 16px;
  position: absolute;
  top: 106px;
  width: 15%;
}

#threadlinks-bottom {
  clear: both;
  float: right;
}

div#new-upload-box {
  background: #505050;
  color: #b0b0b0;
}
div#new-upload-box a {
  text-align: center;
  padding: 20px 40px;
  display: block;
}
div#new-upload-box .upload-preview {
  max-width: 50px;
  max-height: 50px;
}

.reply {
  margin-bottom: 4px;
  padding: 4px 8px 4px 8px;
  display: inline-block;
  max-width: 100%;
}

.reply-container {
  width: 100%;
}

.postblock {
  margin-left: 8px;
  margin-right: 8px;
  width: 100px;
}

.post-text {
  padding: 8px;
}

.setting-name {
  width: 50%;
}

.setting-value {
  text-align: right;
  width: 50%;
}

.spoiler {
  background: #000;
  color: #000;
}

.spoiler:hover {
  color: #FFF;
}

.subject {
  font-weight: 700;
}

.thread {
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}

.op-post {
  width: 100%;
}

a.permalink, #right-sidelinks {
  float: right;
}

hr {
  clear: both;
}

a.upload-container {
  outline: none;
}

.upload {
  margin: 5px 10px 10px 0px;
}

div.file-deleted-box {
  margin: auto;
}

.upload, div.file-deleted-box {
  float: left;
  max-width: 100%;
}

div.file-deleted-box {
  width: 120px;
  height: 120px;
  border-style: dashed;
  border-width: 2px;
  line-height: 120px;
  text-align: center;
}

input[type=file] {
  max-width: 275px;
  width: 275px;
}

input, textarea {
  filter: none;
  font-size: 10pt;
}

table#postbox-static {
  border: none;
  margin: 0px auto;
}
table#postbox-static tr, table#postbox-static td {
  border: none;
}

.greentext {
  color: #789922;
}

div.postprev {
  position: absolute;
  overflow: hidden;
  margin: 8px;
  padding: 4px 8px 4px 8px;
}

div.inlinepostprev {
  overflow: hidden;
  margin: 8px;
  padding: 4px 8px;
}

div.section-block {
  margin-bottom: 8px;
}
div.section-block div.section-title-block {
  display: block;
  padding: 4px 8px 4px 8px;
}
div.section-block div.section-body {
  overflow-y: hidden;
  margin-right: 0px;
  margin-bottom: 8px;
  min-height: 48px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#side-pane {
  position: absolute;
  top: 106px;
  width: 15%;
  margin-right: 16px;
}

div#top-pane {
  text-align: center;
  margin-top: 32px;
  width: 100%;
}
div#top-pane span#site-title {
  font-size: 50px;
}

col#recent {
  width: 22%;
}

#tab-bar {
  margin-left: -24px;
  display: inline;
}
#tab-bar .tab {
  display: inline;
  padding: 0px 8px 0px 8px;
}

div#recent-posts {
  margin: auto;
  display: block;
  width: 90%;
}

div.recent-post {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  margin-top: 5px;
  padding: 6px;
  position: relative;
  width: 200px;
  max-height: 320px;
  margin-bottom: 10px;
  text-align: center;
}

div#frontpage {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

a.permalink {
  float: right;
}

.loginbox {
  width: 300px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -60px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: solid 1px;
}

.loginbox input {
  width: 175px;
  height: 30%;
}

h1, h2 {
  padding-left: 4px;
  padding-right: 4px;
}

table.mgmt-table td.table-actions {
  text-align: center;
}
table.mgmt-table th {
  padding: 4px;
}

.banlist, .wordfilters {
  margin-top: 4px;
  width: 100%;
}

table#recentposts {
  width: 100%;
  border-collapse: collapse;
}
table#recentposts td {
  border: 1px solid;
}

input.config-text {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 4px;
  width: 100%;
  height: 100%;
}

.warning, div.config-status {
  color: red;
  font-weight: bold;
}

textarea.viewlog, textarea.template-text {
  width: 80%;
  white-space: pre;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightbox {
  background: #CDCDCD;
  border: 1px solid #000;
  bottom: 5%;
  color: #000;
  left: 20%;
  padding: 16px;
  position: fixed;
  right: 20%;
  top: 5%;
  z-index: 9001;
  overflow: auto;
}

.lightbox * {
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  filter: drop-shadow(0px 0px 0px #000);
  color: #000000;
}

.lightbox-bg {
  background-attachment: fixed;
  background: #333;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.lightbox-footer {
  background: #CDCDCD;
  bottom: 0px;
  clear: both;
  left: 0px;
  position: absolute;
  right: 0px;
  text-align: center;
  padding: 12px;
}

.lightbox-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.lightbox-x {
  color: #000 !important;
  float: right;
  font-size: 32px;
  font-weight: 700;
}

.lightbox-x:hover {
  color: #555;
}

.lightbox a {
  color: #5A5A5A;
  font-weight: bold;
}

.lightbox input[type=text],
.lightbox input[type=password],
.lightbox input[type=file],
.lightbox textarea {
  background: #FFF;
  border: 1px solid #000;
  color: #000;
}

.lightbox textarea#sql-statement {
  width: 95%;
  height: 300px;
  margin-left: 0px;
  clear: both;
  background: #FFF;
  color: #000;
}

.lightbox div.section-body {
  background: #A0A0A0;
}

.lightbox div.section-title-block {
  border: 1px solid #000;
  border-radius: 0px;
  background: #777;
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  filter: drop-shadow(0px 0px 0px #000);
}

#settings-container table textarea {
  width: 75%;
  height: 6em;
}

div#qr-box {
  padding: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 300px;
  background: lightgray;
  border: 1px solid #000;
}
div#qr-box input[type=text], div#qr-box textarea {
  display: table-cell;
  min-width: 300px;
  background: #FFF;
  color: #000;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div#qr-box input[type=file] {
  background: lightgray;
  max-width: 200px;
  border: none;
  color: #000;
  width: auto;
}
div#qr-box div#upload-container {
  text-align: center;
  width: 100%;
  max-height: 150px;
}
div#qr-box label {
  color: #000;
}
div#qr-box textarea {
  min-height: 40px;
}

div#qr-title {
  background: #000;
  min-width: 100%;
  height: 22px;
  color: #FFF;
  text-align: right;
  font-weight: bold;
  width: 100%;
  cursor: move;
}

div#qr-title span#qr-buttons {
  padding: 4px;
}

div#qr-title * {
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
}

table#qr-postbox {
  width: 100%;
}
table#qr-postbox input[type=text] {
  width: 100%;
}
table#qr-postbox textarea {
  background: #FFF;
  color: #000;
}

.watcher-item a#threadlink {
  font-weight: bold;
  font-size: 18px;
}
.watcher-item a#newposts {
  font-weight: bold;
}

header {
  margin-top: 50px;
  text-align: center;
}
header h1 {
  font-size: 30px;
  margin: 0px;
}

div#topbar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}
div#topbar * {
  padding: 4px;
  margin-left: 4px;
}
div#topbar a.topbar-item, div#topbar .topbar-section {
  display: inline-block;
}
div#topbar .topbar-section {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
div#topbar a.dropdown-button {
  float: right;
  margin-right: 4px;
}

div.dropdown-menu {
  position: fixed;
  min-width: 300px;
  min-height: 100px;
  top: 28px;
  right: 8px;
  z-index: 500;
  padding: 4px 8px 4px 8px;
  max-height: 85%;
  overflow-y: auto;
  background-color: #999;
}
div.dropdown-menu div {
  padding: 2px;
}

div#staffmenu a {
  display: block;
}

div.section-block {
  margin-bottom: 8px;
}
div.section-block div.section-title-block {
  display: block;
  padding: 4px 8px 4px 8px;
}
div.section-block div.section-body {
  overflow-y: hidden;
  margin-right: 0px;
  margin-bottom: 8px;
  min-height: 48px;
  padding: 8px;
}

.centered {
  display: block;
  text-align: center;
}

#footer {
  bottom: 0px;
  clear: both;
  left: 0px;
  position: static;
  text-align: center;
  width: 100%;
}

select.post-actions {
  margin-right: 4px;
  margin-left: 4px;
}

.ui-tabs-nav {
  list-style: none;
  padding-left: 0px;
}

.ui-tabs-tab {
  float: left;
  text-decoration: none;
  padding: 8px;
}

.ui-tabs-panel {
  clear: both;
}
