@keyframes slideopen {
  from {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  to {
    transform: scale(1, 1);
    transform-origin: top center;
  }
}
@keyframes slideclose {
  from {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  to {
    transform: scale(1, 0);
    transform-origin: top center;
  }
}
#boardmenu-bottom {
  margin-top: 16px;
}

#content {
  margin-left: 0px;
  padding-left: 0px;
}

#left-bottom-content {
  float: left;
  left: 0px;
}

a.anchor {
  display: block;
  position: relative;
  top: -32px;
  visibility: hidden;
}

div.catalog-thread {
  width: 200px;
  max-height: 250px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  padding: 6px;
}

div.catalog-thread a {
  clear: both;
}

table#pages {
  margin-bottom: 8px;
  margin-top: 4px;
  border: 1px solid;
}

table#pages td {
  border: 1px solid;
}

#postbox-area {
  left: 0px;
  width: 100%;
}

#report-delbox {
  clear: both;
  float: right;
  line-height: 32px;
  margin-top: 8px;
  text-align: right;
}

#right-bottom-content {
  float: right;
  right: 0px;
}

#side-pane {
  margin-right: 16px;
  position: absolute;
  top: 106px;
  width: 15%;
}

#threadlinks-bottom {
  clear: both;
  float: right;
}

div#upload-box {
  background: #505050;
  color: #b0b0b0;
}
div#upload-box a.browse-text {
  text-align: center;
  padding: 20px 40px;
  display: block;
}
div#upload-box .upload-x, div#upload-box .upload-filename {
  position: relative;
  bottom: 12px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.upload-preview {
  max-width: 50px;
  max-height: 50px;
}

.placeholder-thumb {
  width: 50px;
  height: 50px;
  background: #333;
  border: 1px black solid;
  margin: 4px;
  display: inline-block;
}

.reply {
  margin-bottom: 4px;
  padding: 4px 8px 4px 8px;
  display: inline-block;
  max-width: 100%;
}

.reply-container {
  width: 100%;
}

.postblock {
  margin-left: 8px;
  margin-right: 8px;
}

.post-text, .banned-message {
  padding: 8px;
}

.banned-message {
  color: red;
  font-weight: bold;
}

.setting-name {
  width: 50%;
}

.setting-value {
  text-align: right;
  width: 50%;
}

.spoiler {
  background: #000;
  color: #000;
}

.spoiler:hover {
  color: #FFF;
}

.subject {
  font-weight: 700;
}

.thread {
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}

.op-post {
  width: 100%;
}

a.permalink, #right-sidelinks {
  float: right;
}

hr {
  clear: both;
}

a.upload-container {
  outline: none;
}

.upload, .embed, div.file-deleted-box {
  margin: 5px 10px 5px 0px;
  float: left;
  max-width: 100%;
}

.embed {
  background: black;
  border: none;
}

div.file-deleted-box {
  width: 120px;
  height: 120px;
  border-style: dashed;
  border-width: 2px;
  line-height: 120px;
  text-align: center;
}

input[type=file] {
  max-width: 275px;
  width: 275px;
}

input, textarea {
  filter: none;
  font-size: 10pt;
}

table#postbox-static {
  border: none;
  margin: 0px auto;
}
table#postbox-static tr, table#postbox-static td {
  border: none;
}

.greentext {
  color: #789922;
}

div.postprev {
  position: absolute;
  overflow: hidden;
  margin: 8px;
  padding: 4px 8px 4px 8px;
}

div.inlinepostprev {
  overflow: hidden;
  margin: 8px;
  padding: 4px 8px;
}

.hideblock {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1019607843);
}

.hideblock.open {
  animation: slideopen 0.25s;
}

.hideblock.close {
  animation: slideclose 0.25s;
}

.hideblock.hidden {
  display: none;
}

.hideblock-button {
  display: block;
}

.dice-roll {
  border: 1px dashed #aaa;
  font-weight: bold;
}

.hashtag {
  border: 1px solid #000;
  border-radius: 4px;
  margin: 2px;
  padding: 4px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1019607843);
}

.poster-id {
  font-size: 0.8em;
  padding: 0 5px;
  border-radius: 1em;
}

div.section-block {
  margin-bottom: 8px;
}
div.section-block div.section-title-block {
  display: block;
  padding: 4px 8px 4px 8px;
}
div.section-block div.section-body {
  overflow-y: hidden;
  margin-right: 0px;
  margin-bottom: 8px;
  min-height: 48px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#side-pane {
  position: absolute;
  top: 106px;
  width: 15%;
  margin-right: 16px;
}

div.front-intro-container {
  margin: 16px 64px 16px 64px;
}

@media screen and (max-width: 500px) {
  div.front-intro-container {
    margin: auto;
  }
}
div#top-pane {
  text-align: center;
  margin-top: 32px;
  width: 100%;
}
div#top-pane #site-title {
  font-size: 50px;
  margin-bottom: 0px;
}

col#recent {
  width: 22%;
}

#tab-bar {
  margin-left: -24px;
  display: inline;
}
#tab-bar .tab {
  display: inline;
  padding: 0px 8px 0px 8px;
}

div#recent-posts {
  margin: auto;
  display: block;
  width: 90%;
}

div.recent-post {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  margin-top: 5px;
  padding: 6px;
  position: relative;
  width: 200px;
  max-height: 320px;
  margin-bottom: 10px;
  text-align: center;
}
div.recent-post .file-deleted-box {
  margin: auto;
  float: none;
}

div#frontpage {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

a.permalink {
  float: right;
}

.loginbox {
  width: 300px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -60px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: solid 1px;
}

.loginbox input {
  width: 175px;
  height: 30%;
}

h1, h2 {
  padding-left: 4px;
  padding-right: 4px;
}

table.mgmt-table {
  margin-top: 4px;
  width: 100%;
}
table.mgmt-table td.table-actions, table.mgmt-table col.row-actions, table.mgmt-table col.row-staff {
  text-align: center;
  width: 7%;
}
table.mgmt-table col.filter-actions, table.mgmt-table td.filter-actions {
  text-align: center;
  width: 10%;
}
table.mgmt-table col.row-date {
  width: 20%;
}
table.mgmt-table th {
  padding: 4px;
}

table#recentposts, table.filterhitslist {
  border-collapse: collapse;
}
table#recentposts td, table.filterhitslist td {
  border: 1px solid;
}

table#recentposts td.post-upload {
  text-align: center;
}
table#recentposts td.post-upload * {
  display: inline-block;
  float: none;
}

input.config-text {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 4px;
  width: 100%;
  height: 100%;
}

.warning, div.config-status {
  color: red;
  font-weight: bold;
}

textarea.viewlog, textarea.template-text {
  width: 80%;
  white-space: pre;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td#boardslist label, td#conditions label {
  display: block;
}

fieldset.fld-cndtns {
  margin-bottom: 8px;
}

tr#threadoptions > td > label {
  display: block;
}

table.login {
  margin-left: auto;
  margin-right: auto;
}

form#login-box {
  margin-bottom: 2em;
}
form#login-box input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightbox {
  background: #CDCDCD;
  border: 1px solid #000;
  bottom: 5%;
  color: #000;
  left: 20%;
  padding: 16px;
  position: fixed;
  right: 20%;
  top: 5%;
  z-index: 9001;
  overflow: auto;
}

.lightbox * {
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  filter: drop-shadow(0px 0px 0px #000);
  color: #000000;
}

.lightbox-bg {
  background-attachment: fixed;
  background: #333;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.lightbox-footer {
  background: #CDCDCD;
  bottom: 0px;
  clear: both;
  left: 0px;
  position: absolute;
  right: 0px;
  text-align: center;
  padding: 12px;
}

.lightbox-title {
  text-align: center;
  margin-top: 0px;
}

.lightbox-x {
  color: #000 !important;
  float: right;
  font-size: inherit;
}

.lightbox-x:hover, .lightbox-x:active {
  color: #555;
}

.lightbox a {
  color: #5A5A5A;
  font-weight: bold;
}

.lightbox input[type=text],
.lightbox input[type=password],
.lightbox input[type=file],
.lightbox textarea {
  background: #FFF;
  border: 1px solid #000;
  color: #000;
}

.lightbox textarea#sql-statement {
  width: 95%;
  height: 300px;
  margin-left: 0px;
  clear: both;
  background: #FFF;
  color: #000;
}

.lightbox div.section-body {
  background: #A0A0A0;
}

.lightbox div.section-title-block {
  border: 1px solid #000;
  border-radius: 0px;
  background: #777;
  -webkit-filter: drop-shadow(0px 0px 0px #000);
  filter: drop-shadow(0px 0px 0px #000);
}

#settings-container table textarea {
  width: 75%;
  height: 6em;
}

div#qr-box {
  padding: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 300px;
  background: lightgray;
  border: 1px solid #000;
}
div#qr-box input[type=text], div#qr-box textarea {
  display: table-cell;
  min-width: 320px;
  background: #FFF;
  color: #000;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div#qr-box input[type=file] {
  background: lightgray;
  max-width: 200px;
  border: none;
  color: #000;
  width: auto;
}
div#qr-box div#upload-container {
  text-align: center;
  width: 100%;
  max-height: 150px;
}
div#qr-box label {
  color: #000;
}
div#qr-box textarea {
  min-height: 40px;
}

div#qr-title {
  background: #000;
  min-width: 100%;
  height: 22px;
  color: #FFF;
  text-align: right;
  font-weight: bold;
  width: 100%;
  cursor: move;
}

div#qr-title span#qr-buttons {
  padding: 4px;
}

div#qr-title * {
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
}

table#qr-postbox {
  width: 100%;
}
table#qr-postbox input[type=text] {
  width: 100%;
}
table#qr-postbox textarea {
  background: #FFF;
  color: #000;
}

.watcher-item a#threadlink {
  font-weight: bold;
  font-size: 18px;
}
.watcher-item a#newposts {
  font-weight: bold;
}

.reason, .ban-boards, .ban-timestamp, .ban-title, .ban-ip {
  font-weight: bold;
}

form#appeal-form * {
  display: block;
}

.banpage-block {
  margin: 0px 26px 0px 24px;
}
.banpage-block .section-body {
  padding-top: 8px;
}

#ban-info {
  float: left;
}

img#banpage-image {
  float: right;
  margin: 4px 8px 8px 4px;
}

.install-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 1em 0;
}
.install-container .center-margin-50 {
  margin: 0 auto;
  width: 50%;
  height: 20em;
  display: block;
}
.install-container .buttons {
  display: block;
  text-align: center;
  margin-top: 0.5em;
}
.install-container table {
  margin: 0 auto;
}
.install-container input.path, .install-container select.path {
  width: 100%;
}

.increase-line-height header, .increase-line-height .post, .increase-line-height .reply {
  line-height: 1.5;
}

header {
  margin-top: 50px;
  text-align: center;
}
header h1 {
  margin: 0px;
}

div#topbar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}
div#topbar * {
  padding: 4px;
  margin-left: 4px;
}
div#topbar a.topbar-item, div#topbar .topbar-section {
  display: inline-block;
}
div#topbar .topbar-section {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
div#topbar a.dropdown-button {
  float: right;
  margin-right: 4px;
}

div.dropdown-menu {
  position: fixed;
  min-width: 300px;
  min-height: 100px;
  top: 28px;
  right: 8px;
  z-index: 500;
  padding: 4px 8px 4px 8px;
  max-height: 85%;
  overflow-y: auto;
  background-color: #999;
}
div.dropdown-menu div {
  padding: 2px;
}

div#staffmenu a {
  display: block;
}

div.section-block {
  margin-bottom: 8px;
}
div.section-block div.section-title-block {
  display: block;
  padding: 4px 8px 4px 8px;
}
div.section-block div.section-body {
  overflow-y: hidden;
  margin-right: 0px;
  margin-bottom: 8px;
  min-height: 48px;
  padding: 8px;
}

.centered {
  display: block;
  text-align: center;
}

footer {
  bottom: 0px;
  clear: both;
  left: 0px;
  position: static;
  text-align: center;
  width: 100%;
}

select.post-actions {
  margin-right: 4px;
  margin-left: 4px;
}

.ui-tabs-nav {
  list-style: none;
  padding-left: 0px;
}

.ui-tabs-tab {
  float: left;
  text-decoration: none;
  padding: 8px;
}

.ui-tabs-panel {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}
