div.reply,
div.postprev,
div.inlinepostprev,
th.postblock {
  background: #ddd;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

span.subject {
  color: #024;
}

div.section-title-block {
  background: #ccc;
}

div.section-block {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #FCFCFC;
  border: 1px solid #D7D7D7;
}

body {
  background: #eee;
  font: 15px "Trebuchet MS", Trebuchet, sans-serif;
}

a {
  text-decoration: none;
}

div#topbar, div.dropdown-menu {
  background: #000;
  opacity: 0.8;
  padding: 2px;
}

div#topbar {
  -webkit-filter: drop-shadow(0px 2px 2px #292929);
  filter: drop-shadow(0px 2px 2px #292929);
}

.dropdown-menu {
  color: #FFF;
  background: #000 !important;
  -webkit-filter: drop-shadow(2px 2px 3px #292929);
  filter: drop-shadow(2px 2px 3px #292929);
  z-index: 0;
}
.dropdown-menu div:hover {
  background: #222;
}

header, div#top-pane, a {
  color: #f60;
}

#site-title, #board-title {
  font-weight: 800;
}
