.dropdown-button:hover {
  background: #404040;
}

.section-body {
  background: #606060;
}

.section-title-block {
  background: #202020;
  border-radius: 4px 4px 0px 0px;
}

.tab {
  background: #404040;
  border: 1px solid #363942;
}

#current-tab {
  background: #363942;
}

div#recent-posts-header {
  -webkit-filter: drop-shadow(0px 2px 3px #101010);
  filter: drop-shadow(0px 2px 3px #101010);
  margin-bottom: 8px;
  padding: 4px 8px 4px 8px;
}

.postblock {
  background: #363942;
  font-weight: 700;
}

.loginbox input {
  height: 20%;
}

.manage-header {
  background: #202020;
  -webkit-filter: drop-shadow(4px 4px 4px #101010);
  filter: drop-shadow(4px 4px 4px #101010);
  border-radius: 8px;
}

.dropdown-button:hover {
  background: #404040;
}

img.thumbnail {
  float: left;
  max-width: 100%;
  margin: 5px 10px 10px 0px;
}

.reply, .inlinepostprev, .postprev {
  background: #25272D;
  border: 1px solid #8C94AB;
}

.postblock {
  background: #25272D;
  font-weight: 700;
}

.postername {
  color: #FC0;
  font-weight: 700;
}

.postername a {
  color: #ffcc00;
  text-decoration: underline;
}

.subject {
  color: #F90;
}

.tripcode {
  color: #FC0;
}

div#content input:not([type=submit]):not([type=button]),
div#content textarea,
div#content select#changepage,
div#content select.post-actions {
  background: #25272D;
  border: 1px solid #8C94AB;
  color: #FFF;
}

* {
  outline: none;
}

body {
  background: #363942;
  background-image: url(res/pipes_bg.png);
  color: #d8d0b9;
  font: 12pt sans-serif;
}

header h1, span#site-title {
  color: #e1b400;
}

a {
  color: #f90;
  font: 12pt sans-serif;
  text-decoration: none;
}

a:hover {
  background: inherit;
  color: #ffd43f;
}

a.topbar-item:hover {
  background: #404040;
}

div#footer, div#footer * {
  font-size: 9pt;
}

div#topbar {
  background: #202020;
  -webkit-filter: drop-shadow(0px 4px 2px #101010);
  filter: drop-shadow(0px 4px 2px #101010);
}
div#topbar li:hover {
  background: #404040;
}

.dropdown-menu {
  background: #202020 !important;
  -webkit-filter: drop-shadow(2px 2px 3px #101010);
  filter: drop-shadow(2px 2px 3px #101010);
  z-index: 0;
}
.dropdown-menu div:hover {
  background: #404040;
}
