body {
  background: #FFE url("res/yotsuba_bg.png") repeat-x 50% 0%;
  color: maroon;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

div.op-post {
  background: #FFE;
}

div.inlinepostprev {
  border: 1px solid #D9BFB7;
}

header {
  color: #AF0A0F;
}
header h1 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: maroon;
}

div.section-block {
  border: 1px solid;
}

div.section-title-block {
  background: #fca;
}

hr {
  border: none;
  border-top: 1px solid #D9BfB7;
  height: 0;
}

select.post-actions {
  background: #F0E0D6;
  border-bottom: 1px solid #D9BFB7;
  border-right: 1px solid #D9BFB7;
}

div.reply, table#pages, div.postprev {
  background: #F0E0D6;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px solid #D9BFB7;
  border-right: 1px solid #D9BFB7;
}

div.post-text a {
  color: navy;
}

table#pages * {
  border: none;
}

div.section-title-block {
  background: #fca;
  color: #800;
}

div#topbar {
  background: #FED6Af;
  border-bottom: 1px solid #FEC68F;
}

th.postblock, table.mgmt-table tr:first-of-type th {
  background: #EA8;
  border: 1px solid #800;
}

span.postername, span.postername a {
  color: #117743;
  font-weight: 700;
}

span.postername a {
  text-decoration: underline;
}

span.tripcode {
  color: #117743;
}

span.subject {
  color: #CC1105;
  font-weight: 700;
}

div#upload-box {
  background: #aaa;
}
div#upload-box a {
  color: #444;
}
div#upload-box a:hover, div#upload-box a:target, div#upload-box a:focus {
  color: #666;
}
