body {
  background: #EEF2FF url("res/yotsubab_bg.png") repeat-x 50% 0%;
  color: #000;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

div.op-post {
  background: #EEF2FF;
}

div.inlinepostprev {
  border: 1px solid #B7C5D9;
}

header {
  color: #AF0A0F;
}
header h1 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #34345C;
}

div.section-block {
  border: 1px solid;
}

div.section-title-block {
  background: #98E;
}

hr {
  border: none;
  border-top: 1px solid #B7C5D9;
  height: 0;
}

select.post-actions {
  background: #D6DAF0;
  border-bottom: 1px solid #B7C5D9;
  border-right: 1px solid #B7C5D9;
}

div.reply, table#pages, div.postprev {
  background: #D6DAF0;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px solid #B7C5D9;
  border-right: 1px solid #B7C5D9;
}

div.post-text a {
  color: navy;
}

table#pages * {
  border: none;
}

div.section-title-block {
  background: #98E;
  color: #000;
}

div#topbar {
  background: #D6DAF0;
  border-bottom: 1px solid #89A;
}

th.postblock {
  background: #98E;
  border: 1px solid #000;
}

span.postername, span.postername a {
  color: #117743;
  font-weight: 700;
}

span.postername a {
  text-decoration: underline;
}

span.tripcode {
  color: #117743;
}

span.subject {
  color: #0F0C5D;
  font-weight: 700;
}
