@mixin box-shadow($properties...) {
	filter: drop-shadow($properties);
}

@mixin shadow-filter($properties...) {
	-webkit-filter: drop-shadow($properties);
	filter: drop-shadow($properties);
}

@mixin box-sizing($sizing) {
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin border-radius($properties...) {
	-moz-border-radius: $properties;
	-ms-border-radius: $properties;
	-webkit-border-radius: $properties;
	border-radius: $properties;
}

@mixin upload-box($bg, $a, $a-visited) {
	div#upload-box {
		background: $bg;
		a {
			color: $a;
		}
		a:hover, a:target, a:focus {
			color: $a-visited;
		}
	}
}