@use 'bunkerchan/colors';
@use 'bunkerchan/front';
@use 'bunkerchan/img';
@use 'util';

body {
	background: colors.$bgcol;
	color: colors.$color;
	font-family: colors.$font-family;
	font-size: 70%;
}

header {
	color: #663E11;
}

hr {
	color: #117743;
}

a, a:visited {
	color: colors.$topborder;
	text-decoration: none;
}

div#staff, select.post-actions {
	background: colors.$topbarbg;
	border: 1px solid colors.$topborder;
}

div#topbar,
div#topbar a,
div#topbar a:visited,
div.dropdown-menu {
	background: colors.$topbarbg;
	border-bottom: 1px solid colors.$topborder;
}

div.dropdown-menu {
	border-left: 1px solid colors.$topborder;
	border-right: 1px solid colors.$topborder;
}

div.dropdown-menu a:hover, div.dropdown-menu a:active {
	background: colors.$bgcol;
}

table#pages, table#pages * {
	border: none;
}