@use 'clear/colors';
@use 'util';

body {
	background: colors.$bgcol;
	font-family: monospace, sans-serif;
	font-size: 80%;
}

div#topbar {
	background: colors.$topbarbg;
	border-bottom: 1px solid colors.$topbarborder;
}

a {
	color: colors.$linkcol;
	text-decoration: none;
	&:hover {
		text-shadow: 0px 0px 5px colors.$hrcol;
	}
}

header {
	color: colors.$headercol;
}

hr {
	border: none;
	border-top: 1px solid colors.$hrcol;
	height: 0;
}

div#content {
	input, select, textarea {
		border: 1px double colors.$inputshadow;
		border-radius: 5px;
		background: colors.$inputcol;
		color: #000;
	}
	input:active, select:active, textarea:active {
		@include util.shadow-filter(0px 0px 5px colors.$replyborder);
	}
	input[type="button"],
	input[type="submit"],
	input[type="file"]::file-selector-button,
	input[type="file"]::webkit-file-upload-button {
		background: #A7A7A7;
		border: 3px double colors.$inputshadow;
		border-radius: 5px;
		color: #000;
	}
}


div.reply,
div.section-block,
th.postblock,
div.postprev,
div.inlinepostprev,
table.mgmt-table tr:first-of-type th {
	background: colors.$inputcol;
	border: 1px solid colors.$replyborder;
	border-radius: 5px;
}

span.subject {
	font-weight: 800;
	color: colors.$subjectcol;
}

table#pages, table#pages * {
	border: none;
}

div.section-title-block {
	background: #A7A7A7;
	border-bottom: 1px solid colors.$replyborder;
}

@include util.upload-box(#aaa, #444, #666);