@use 'darkbunker/img';
@use 'darkbunker/vars';
@use 'util';

body {
	background: vars.$bgcol;
	color: vars.$txtcol;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}

div#topbar {
	background: vars.$topbarcol;
	border-bottom: 2px solid vars.$linkcol;
	* {
		padding: 0px;
	}
}

hr {
	color: vars.$bordercol;
}

a {
	color: vars.$linkcol;
	text-decoration: none;
}

a:hover {
	background: inherit;
	color: vars.$linklight;
}

header {
	h1, div#board-subtitle {
		font-family: tahoma;
		color: vars.$headercol;
	}
}

th, div.reply {
	background: vars.$gridcol;
	border: 1px solid vars.$bordercol;
}

div.section-block {
	border: 1px solid white;

	div.section-title-block {
		background: vars.$blocktitle;
		border: 1px solid white;
		font-weight: bold;
	}
}

div#frontpage div.section-block:first-child {
	background: vars.$gridcol;
	// border: none;
}