@use 'dark/colors';

body {
	background: colors.$bgcol;
	font-family: colors.$font-family;
	color: colors.$color;
	// font-size: 80%;
}

a {
	text-decoration: none;
	color: colors.$linkcol;
}

div#topbar {
	background: colors.$topbarbg;
	border-bottom: 1px solid colors.$color;
	a {
		text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
	}
}

header {
	color: colors.$headercol;
}

div#content {
	input:not(div#qrbuttons input),
	textarea, select {
		background: colors.$inputbg;
		border: 1px solid colors.$topbarbg;
		color: colors.$linkcol;
	}
}

th.postblock, table.mgmt-table tr:first-of-type th {
	background: colors.$blockcol;
	border: 1px solid colors.$blockborder;
	border-radius: 5px;
	text-align: left;
}

div.reply,
div.postprev,
div.inlinepostprev {
	background: colors.$inputbg;
	border: 1px solid colors.$replyborder;
	border-radius: 5px;
}

span.postername {
	color: colors.$headercol;
	font-weight: bold;
	a {
		text-decoration: underline;
	}
}

span.tripcode {
	color: colors.$headercol;
}

.dropdown-menu {
	background: colors.$topbarbg!important;
	b {
		color: black;
	}
}

span.subject {
	color: colors.$subjectcol;
}

table#pages, table#pages * {
	border: none;
}
