@use 'global/img';
@use 'global/front';
@use 'global/manage';
@use 'global/lightbox';
@use 'global/qr';
@use "global/watcher";
@use 'global/bans';
@use 'global/animations';
@use 'global/installer';

.increase-line-height {
	header, .post, .reply {
		line-height: 1.5;
	}
}

header {
	margin-top: 50px;
	text-align: center;
	h1 {
		margin: 0px;
	}
}

div#topbar {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 0px;

	* {
		padding: 4px;
		margin-left: 4px;
	}
	a.topbar-item, .topbar-section {
		display: inline-block;
	}
	.topbar-section {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
	}
	a.dropdown-button {
		float: right;
		margin-right: 4px;
	}
}

div.dropdown-menu {
	position: fixed;
	min-width: 300px;
	min-height: 100px;
	top: 28px;
	right: 8px;
	z-index: 500;
	padding: 4px 8px 4px 8px;
	max-height: 85%;
	overflow-y: auto;
	background-color: #999;
	div {
		padding: 2px;
	}
}

div#staffmenu {
	a {
		display: block;
	}
}

div.section-block {
	margin-bottom: 8px;
	div.section-title-block {
		display: block;
		padding: 4px 8px 4px 8px;
	}
	div.section-body {
		overflow-y: hidden;
		margin-right: 0px;
		margin-bottom:8px;
		min-height: 48px;
		padding: 8px;
	}
}

.centered {
	display: block;
	text-align: center;
}

footer {
	bottom: 0px;
	clear: both;
	left: 0px;
	position: static;
	text-align: center;
	width: 100%;
}

select.post-actions {
	margin-right: 4px;
	margin-left: 4px;
}

.ui-tabs-nav {
	list-style: none;
	padding-left: 0px;
}

.ui-tabs-tab {
	float: left;
	text-decoration: none;
	padding: 8px;
}

.ui-tabs-panel {
	clear: both;
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.info-icon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	cursor: help;
}