@import 'photon/colors';
@import 'photon/img';
@import 'util';

body {
	background: $bgcol;
	font: 15px $font;
}

a {
	text-decoration: none;
}

div#topbar, div.dropdown-menu {
	background: #000;
	opacity: 0.8;
	padding: 2px;
}

div#topbar {
	@include shadow-filter(0px 2px 2px $shadowcol);
}

.dropdown-menu {
	color: #FFF;
	background: #000!important;
	@include shadow-filter(2px 2px 3px $shadowcol);
	z-index: 0;
	div:hover {
		background: $dropdowncol;
	}
}

header, div#top-pane, a {
	color: $linkcol;
}

#site-title, #board-title {
	font-weight: 800;
}