@use 'photon/colors';
@use 'photon/img';
@use 'util';

body {
	background: colors.$bgcol;
	font: 15px colors.$font;
}

a {
	text-decoration: none;
}

div#topbar, div.dropdown-menu {
	background: #000;
	opacity: 0.8;
	padding: 2px;
}

div#topbar {
	@include util.shadow-filter(0px 2px 2px colors.$shadowcol);
}

.dropdown-menu {
	color: #FFF;
	background: #000!important;
	@include util.shadow-filter(2px 2px 3px colors.$shadowcol);
	z-index: 0;
	div:hover {
		background: colors.$dropdowncol;
	}
}

header, div#top-pane, a {
	color: colors.$linkcol;
}

#site-title, #board-title {
	font-weight: 800;
}

@include util.upload-box(#aaa, #444, #666);