@use 'pipes/colors';
@use 'pipes/front';
@use 'pipes/manage';
@use 'pipes/img';
@use 'util';

* {
	outline: none;
}

body {
	background: colors.$bgcol;
	background-image: url(res/pipes_bg.png);
	color: #d8d0b9;
	font: colors.$font;
}

header h1, #site-title {
	color: colors.$headercol;
}

a {
	color: colors.$linkcol;
	font: colors.$font;
	text-decoration: none;
}

a:hover {
	background: inherit;
	color: colors.$linklight;
}

a.topbar-item:hover {
	background: colors.$bglight;
}

footer, footer * {
	font-size: 9pt;
}

div#topbar {
	background: colors.$topbarcol;
	// @include box-shadow(0px 2px 2px 3px $shadowcol);
	@include util.shadow-filter(0px 4px 2px colors.$shadowcol);

	li:hover {
		background: colors.$bglight;
	}
}

.dropdown-menu {
	background: colors.$topbarcol!important;
	@include util.shadow-filter(2px 2px 3px colors.$shadowcol);
	z-index: 0;
	div:hover {
		background: colors.$bglight;
	}
}

.ui-tabs-tab {
	background: colors.$topbarcol;
	border: 1px solid colors.$bglight;
}

.ui-tabs-active {
	background: colors.$bgcol;
}

.ui-tabs-panel {
	background: colors.$bgcol;
	border: 1px solid colors.$topbarcol;
	padding: 8px;
}