$bgcol: #1E1E1E;
$color: #999;
$font-family: sans-serif;
$topbarbg: #666;
$headercol: #32DD72;
$linkcol: #CCC;
$inputbg: #333;
$blockborder: #888;
$blockcol: #282A2E;
$replyborder: #555;
$subjectcol: #446655;