$bgcol: #1D1F21;
$color: #ACACAC;
$hcol: #663E11;
$inputbg: #282A2E;
$inputbg2: #16171A;
$topborder: #B0790A;
$linkcol: #FFB300;
$bordercol: #117743;
$inputborder: #07371F;
$topbarbg: #151515;
$shadowcol: #101010;
$font-family: monospace, sans-serif;
