@import 'colors';

%formstyle {
	background: $inputbg;
	border: 1px double $inputborder;
	color: $color;
}


div.reply,
th.postblock,
div.postprev,
div.inlinepostprev,
table.mgmt-table tr:first-of-type th {
	background: #282A2E;
	border: 1px solid #117743;
	border-radius: 5px;
}

table#postbox-static, div#report-delbox {
	input,
	select,
	textarea,
	input[type="file"]::file-selector-button,
	input[type="file"]::-webkit-file-upload-button {
		border-radius: 5px;
		@extend %formstyle;
	}
	button, input[type=submit] {
		background:#16171A;
	}
}

select#changepage {
	@extend %formstyle;
}
