@import 'colors';

%formstyle {
	background: $inputbg;
	border: 1px double $inputborder;
	color: $color;
}

%darkselect {
	background: $inputbg2;
	border-radius: 5px;
	color: $color;
	@extend %formstyle;
}

div.reply,
th.postblock,
div.postprev,
div.inlinepostprev,
table.mgmt-table tr:first-of-type th {
	background: #282A2E;
	border: 1px solid #117743;
	border-radius: 5px;
}

table#postbox-static, div#report-delbox, form#filterform {
	input,
	textarea,
	input[type="file"]::file-selector-button,
	input[type="file"]::-webkit-file-upload-button {
		@extend %formstyle;
	}
	select {
		@extend %darkselect;
	}
	button, input[type=submit] {
		background: $inputbg2;
	}
}

button.hideblock-button,
select#changepage,
select.post-actions,
select#boardsearch,
select[name="show"] {
	@extend %darkselect;
}
