#current-tab,#topbar li:hover {
	background-color:#404040;
}

#footer {
	font-size:12px;
}

#site-title {
	color:#e1b400;
}

#topbar {
	background-color:#202020;
	box-shadow:0px 2px 2px 3px #101010;
	height:26px;
}

#topbar li {
	padding:4px;
}

.dropdown-menu {
	background-color:#202020;
	box-shadow:0 6px 2px 2px #101010;
}

.menu {
	margin-top:1em;
	text-align:center;
}

.plus {
	background:#404040;
	color:#000;
	font-weight:400;
	height:inherit;
}

.plus:hover {
	background:#c5c9e0;
	cursor:pointer;
}

.section-body {
	background-color:#606060;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
}

.section-title-block {
	box-shadow: 2px 2px 3px 4px #101010;
	background-color:#202020;
	border-radius:8px;
	padding-left:4px;
	padding-right:4px;
}

.tab {
	background-color:#202020;
	border:1px solid #424242;
	text-align:center;
}

a {
	background:inherit;
	color:#f90;
	font-family:sans-serif;
	text-decoration:none;
}

a.permalink {
	background:inherit;
	color:#f90;
}

a.permalink:hover {
	background:inherit;
	color:#ffd43f;
}

a:hover {
	background:inherit;
	color:#ffd43f;
	font-family:sans-serif;
}

body {
	background:#EEF2FF;
	background-attachment:fixed;
	background-image:url(images/pipes_bg.png);
	color:#d8d0b9;
	font-family:sans-serif;
	font-size:12pt;
}


.header-thing-to-be-used-later {
	box-shadow: 2px 2px 3px 4px #101010;
	background-color:#202020;
	border-radius:8px;
	padding-left:4px;
	padding-right:4px;
}

ul.boardmenu li:hover {
	background:#404040;
}