#footer {
	font-size:12px;
}

#site-title {
	color: #e1b400;
}

#current-tab {
	background-color: #404040;
}

.tab {
	background-color: #202020;
	border: 1px solid #424242;
	text-align:center;
}

.section-body {
	background-color:#606060;
	padding-left:8px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.section-title-block {
	height:19px;
	background-color:#202020;
	border-radius: 4px 4px 0px 0px;
	padding-left:8px;
	padding-right: 8px;
}

#topbar {
	box-shadow: 0 2px 2px 3px #101010;
	background-color: #202020;
	height: 26px;
}

#topbar li {
	padding: 4px;
}

#topbar li:hover {
	background-color: #404040;
}

#topbar a {

}

.menu {
	margin-top:1em;
	text-align:center;
}

a.permalink {
	background: inherit;
	color: #f90;
}

a.permalink:hover {
	background: inherit;
	color: #ffd43f;
}

.plus {
	background:#404040;
	color:#000;
	height:inherit;
	font-weight:400;
}

.plus:hover {
	background:#c5c9e0;
	cursor:pointer;
}

a {
	background: inherit;
	color: #f90;
	font-family: sans-serif;
	text-decoration: none;
}

a:hover {
	background: inherit;
	color: #ffd43f;
	font-family: sans-serif;
}

body {
	background: #EEF2FF;
	background-attachment: fixed;
	background-image: url(images/pipes_bg.png);
	color: #d8d0b9;
	font-family:sans-serif;
	font-size: 12pt;
}
h2 {
	background-color: #202020;
	-moz-box-shadow: 2px 2px 3px 4px #101010;
	-webkit-box-shadow: 2px 2px 3px 4px #101010;
	box-shadow: 0 2px 2px 3px #101010;
	border-radius: 8px;
	padding-left: 4px;
	padding-right: 4px;
}

ul.boardmenu li:hover {
	background:#404040;
}

