#footer {
	font-size:12px;
}

#current-tab {
	background-color: #404040;
}

.tab {
	background-color: #202020;
	border: 1px solid #424242;
	text-align:center;
}

.section-body {
	background-color:#606060;

}

.section-title-block {
	background-color:#202020;
	border-radius: 4px 4px 0px 0px;
}

#topmenu {
	box-shadow: 0 2px 2px 3px #101010;
	background-color: #202020;
}

.topmenu-item:hover {
	background-color: #404040;
}

#topmenu a {

}

.loginbox {

}
.loginbox input {
	height:20%;
}

.menu {
	text-align:center;
}

a {
	background: inherit;
	color: #f90;
	font-family: sans-serif;
	text-decoration: none;
}

a:hover {
	background: inherit;
	color: #ffd43f;
	font-family: sans-serif;
}

body {
	background: #EEF2FF;
	background-attachment: fixed;
	background-image: url(images/pipes_bg.png);
	color: #d8d0b9;
	font-family:sans-serif;
	font-size: 12pt;
}
h1, h2 {
	background-color: #202020;
	-moz-box-shadow: 2px 2px 3px 4px #101010;
	-webkit-box-shadow: 2px 2px 3px 4px #101010;
	box-shadow: 0 2px 2px 3px #101010;
	border-radius: 8px;
}

ul.boardmenu li:hover {
	background:#404040;
}

