/* imported by individual sass pre-compiled css files */
* {
  outline: none; }

#footer {
  font-size: 12px; }

#topbar {
  background-color: #202020;
  box-shadow: 0px 2px 2px 3px #101010;
  z-index: 9001; }

#topbar li:hover {
  background-color: #404040; }

#footer {
  font-size: 12px; }

#site-title {
  color: #e1b400; }

#topbar {
  background-color: #202020;
  box-shadow: 2px 2px 2px 3px #101010; }

.topbar-item:hover {
  background-color: #404040; }

.dropdown-button:hover {
  background-color: #404040; }

.dropdown-menu {
  background-color: #202020;
  box-shadow: 2px 2px 2px 3px #101010;
  z-index: 0; }

a {
  color: #f90;
  font-family: sans-serif;
  text-decoration: none; }

a:hover {
  background: inherit;
  color: #ffd43f;
  font-family: sans-serif; }

body {
  background-image: url(images/pipes_bg.png);
  color: #d8d0b9;
  font-family: sans-serif;
  font-size: 12pt; }

ul.staffmenu li:hover {
  background: #404040; }

.section-body {
  background-color: #606060; }

.section-title-block {
  background-color: #202020;
  border-radius: 4px 4px 0px 0px; }

.loginbox input {
  height: 20%; }

.menu {
  text-align: center; }

h1, h2 {
  background-color: #202020;
  -moz-box-shadow: 2px 2px 3px 4px #101010;
  -webkit-box-shadow: 2px 2px 3px 4px #101010;
  box-shadow: 0 2px 2px 3px #101010;
  border-radius: 8px; }
