{{template "page_header.html" .}}
<header>
	<h1 id="board-title">/{{$.board.Dir}}/ - {{$.board.Title}}</h1>
	<span id="board-subtitle">{{$.board.Subtitle}}</span>
</header><hr />
<div id="right-sidelinks">
	<a href="{{.webroot}}{{.board.Dir}}/catalog.html">Board catalog</a><br />
</div>
<div id="threadlinks-top">
	<a href="#footer">Scroll to bottom</a>
</div>
{{- template "postbox.html" . -}}<hr />
<form action="{{.webroot}}util" method="POST" id="main-form">
{{$global := .}}
{{- range $t, $thread := .threads}}{{$op := index $thread.Posts 0}}
	<div class="thread">
		{{- template "post.html" map "global" $global "board" $.board "post" $op "is_board_page" true -}}
	{{- if gt $thread.Replies 3 -}}
		<b>{{subtract $thread.Replies 3}} post{{if gt $thread.Replies 4}}s{{end}} omitted</b><br />
	{{- end -}}
	{{- range $r,$reply := $thread.Posts -}}
		{{if gt $r 0}}
			{{- template "post.html" map "global" $global "board" $.board "post" $reply -}}
		{{end}}
	{{- end -}}
	</div><hr />
{{- end}}
	<div id="right-bottom-content">
		<div id="report-delbox">
			<input type="hidden" name="board" value="{{.board.Dir}}" />
			<input type="hidden" name="boardid" value="{{.board.ID}}" />
			<label>[<input type="checkbox" name="fileonly"/>File only]</label> <input type="password" size="10" name="password" id="delete-password" /> <input type="submit" name="delete_btn" value="Delete" onclick="return confirm('Are you sure you want to delete these posts?')" /><br />
			Report reason: <input type="text" size="10" name="reason" id="reason" /> <input type="submit" name="report_btn" value="Report" /><br />
			<input type="submit" name="edit_btn" value="Edit post" />&nbsp;
			<input type="submit" name="move_btn" value="Move thread" />
		</div>
	</div>
</form>
<div id="left-bottom-content">
	<a href="#">Scroll to top</a><br/>
	<table id="pages">
		<tr>
			<td>{{range $_,$i := makeLoop .numPages 1 -}}
				{{- if eq $.currentPage $i -}}
					[<b>{{$i}}</b>]
				{{- else -}}
					[<a href="{{boardPagePath $.board $i}}">{{$i}}</a>]
				{{- end -}}
			{{- end}}</td>
		</tr>
	</table>
	<span id="boardmenu-bottom">
		[<a href="{{$.webroot}}">home</a>]&nbsp;
		[{{range $i, $boardlink := $.boards -}}
			{{- if gt $i 0}}/{{end}} <a href="{{$boardlink.WebPath `` `boardPage`}}/">{{$boardlink.Dir}}</a> {{end}}]
	</span>
</div>
{{- template "page_footer.html" .}}
