<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CAPTCHA test</title>
	<link rel="stylesheet" href="{{webPath "/css/global.css"}}" />
	<link id="theme" rel="stylesheet" href="{{webPath "css/" .boardConfig.DefaultStyle}}" />
	<link rel="shortcut icon" href="{{webPath "/favicon.png"}}">
	<script type="text/javascript" src="{{webPath "js/consts.js"}}"></script>
	<script type="text/javascript" src="{{webPath "js/gochan.js"}}"></script>
</head>
<body>
<div id="topbar">
	<a href="{{webPathDir "/"}}" class="topbar-item">home</a>
	{{range $i, $board := .boards}}<a href="{{webPathDir $board.Dir}}/" class="topbar-item" title="{{$board.Title}}">/{{$board.Dir}}/</a>{{end}}
</div>
<div id="content">
<header>
	<h1 id="board-title">hCAPTCHA test</h1>
</header><br />
<form method="POST" action="{{webPath "/captcha"}}">
	<div class="h-captcha" data-sitekey="{{.siteKey}}"></div>
	<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
	<input type="submit" value="Post">
</form>
<footer>
	Powered by <a href="http://github.com/gochan-org/gochan/">Gochan {{version}}</a><br />
</footer>
</div>
</body>
</html>
