{{- template "page_header.html" .}}
	<div id="top-pane">
		<span id="site-title">{{.site_config.SiteName}}</span><br />
		<span id="site-slogan">{{.site_config.SiteSlogan}}</span>
	</div><br />
	<div id="frontpage">
		<div class="section-block" style="margin: 16px 64px 16px 64px;">
			<div class="section-body front-intro">
				{{template "front_intro.html" .}}
			</div>
		</div>
		<div class="section-block">
			<div class="section-title-block"><b>Boards</b></div>
			<div class="section-body">
				{{- range $_, $section := .sections -}}
					{{if not $section.Hidden}}
						<ul style="float:left; list-style: none">
						<li style="text-align: center; font-weight: bold"><b><u>{{$section.Name}}</u></b></li>
						{{range $_, $board := $.boards}}
							{{if and (eq $board.SectionID $section.ID) (ne $board.Dir $.site_config.Modboard)}}
								<li><a href="{{$.webroot}}{{$board.Dir}}/" title="{{$board.Description}}">/{{$board.Dir}}/</a> — {{$board.Title}}</li>
							{{end}}
						{{end}}
						</ul>
					{{end}}
				{{end}}
			</div>
		</div>
		{{- if gt .site_config.MaxRecentPosts 0}}
		<div class="section-block">
			<div class="section-title-block"><b>Recent Posts</b></div>
			<div class="section-body">
				<div id="recent-posts">
				{{- range $i, $post := $.recent_posts}}
					<div class="recent-post">
						{{if and (not $post.FileDeleted) (ne $post.Filename "") -}}
							<a href="{{$post.URL}}" class="front-reply" target="_blank"><img src="{{$post.ThumbURL}}" alt="post thumbnail"/></a><br />
						{{else}}
							<div class="file-deleted-box" style="text-align:center; float:none;"><a href="{{$post.URL}}" class="front-reply" target="_blank">No file</a></div>
						{{- end}}<br />
						<a href="{{$.webroot}}{{$post.Board}}/">/{{$post.Board}}/</a><hr />
						{{$post.MessageSample}}
					</div>{{end}}
				</div>
			</div>{{end}}
		</div>
	</div>
{{template "page_footer.html" .}}
