<!DOCTYPE html>
<html>
<head>
	<title>{{$board.Title}}</title>
	<script type="text/javascript" src="/javascript/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/javascript/msgpack.js"></script>
	<script type="text/javascript">
		var styles = [{{range $ii, $style := $config.Styles_img}}{{if gt $ii  0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{$config.SiteWebfolder}}"
	</script>
	<script type="text/javascript" src="/javascript/gochan.js"></script>
	<script type="text/javascript" src="/javascript/manage.js"></script>
	<link rel="stylesheet" href="/css/global/img.css" />
{{range $i, $style := $config.Styles_img}}
	<link rel="{{if isStyleNotDefault_img $style}}alternate {{end}}stylesheet" href="/css/{{$style}}/img.css" />{{end}}
</head>
<body>
	<div id="topbar">
		<ul class="topbar-section">
			{{range $i, $board := $board_arr.Data}}
			<a href="/{{$board.Dir}}/"><li class="topbar-item">/{{$board.Dir}}/</li></a>
{{end}}		</ul>
	</div>
	<div id="top-pane">
		<span id="board-title">{{$board.Title}}</span><br />
		<span id="board-subtitle">{{$board.Subtitle}}</span>
	</div>
	<hr />
	<div id="threadlinks-top">
		<a href="{{$config.SiteWebfolder}}{{$board.Dir}}/board.html" >Return</a><br />
		<a href="{{$op.ID}}-100.html">First 100 posts</a><br />
		<a href="{{$op.ID}}+50.html">Last 50 posts</a><br />
	</div>
	<div id="right-sidelinks">
		<a href="{{$config.SiteWebfolder}}{{$board.Dir}}/catalog.html">Board catalog</a><br />
	</div>

	<div id="postbox-area">
		<center>
		<a href="#">Open Quick Reply box</a>
		<form name="postform" action="/post" method="POST" enctype="multipart/form-data">
			<table id="postbox-static">
				<input type="hidden" name="threadid" value="{{$op.ID}}" />
				<input type="hidden" name="boardid" value="{{$op.BoardID}}" />
				<tr><td class="postblock">Name</td><td><input type="text" name="postname" maxlength="75" size="28" {{/* value="Name" onFocus="if(this.value=='Name') {this,value= ''}" onBlur="if(this.value == '') {this.value = 'Name'}"*/}}/></td></tr>
				<tr><td class="postblock">Email</td><td><input type="text" name="postemail" maxlength="75" size="28" /></td></tr>
				<tr><td class="postblock">Subject</td><td><input type="text" name="postsubject" maxlength="75" size="35" /><input type="submit" value="Post"/></td></tr>
				<tr><td class="postblock">Message</td><td><textarea rows="4" cols="48" name="postmsg"></textarea></td></tr>
				<tr><td class="postblock">File</td><td><input name="imagefile" size="31" type="file"><input type="checkbox" id="spoiler" name="spoiler"/><label for="spoiler">Spoiler</label></td></tr>
				<tr><td class="postblock">Password</td><td><input type="password" name="postpassword" size="14" /> (for post/file deletion)</td></tr>
			</table>
		</form>
		</center>
	</div>
	<hr />
	<div id="content">
		<form action="/util" method="POST" id="main-form">
		<div class="thread" id="{{$op.ID}}">{{range $post_num,$post := $post_arr}}{{if intEq $post_num 0}}
			{{if stringNeq $post.Filename ""}}{{if stringNeq $post.Filename "deleted"}}<span class="file-info">File: <a href="{{$board.Dir}}/src/{{$post.Filename}}">{{$post.Filename}}</a> - ({{formatFilesize $post.Filesize}} , {{$post.ImageW}}x{{$post.ImageH}}, {{$post.FilenameOriginal}} )</span><br />{{end}}
				{{if stringEq $post.Filename "deleted"}}<div class="file-deleted-box"><center>File removed</center></div>{{else}}<a href="{{$config.SiteWebfolder}}{{$board.Dir}}/src/{{$post.Filename}}" target="_blank"><img src="{{$config.SiteWebfolder}}{{$board.Dir}}/thumb/{{imageToThumbnailPath $post.Filename}}" width="{{$post.ThumbW}}" height="{{$post.ThumbH}}" class="thumbnail" /></a>{{end}}{{end}}
			<label class="post-info"><input type="checkbox" id="{{$post.ID}}" name="check{{$post.ID}}" /> <span class="subject">{{$post.Subject}}</span> <span class="postername">{{if stringNeq $post.Email ""}}<a href="mailto:{{$post.Email}}">{{if stringEq $post.Name ""}}{{$board.Anonymous}}{{else}}{{$post.Name}}{{end}}</a>{{end}}</span>{{if stringNeq $post.Tripcode ""}}<span class="tripcode">!{{$post.Tripcode}}</span>{{end}} {{formatTimestamp $post.Timestamp}} <a href="/{{$board.Dir}}/res/{{$post.ID}}.html#{{$post.ID}}">No.</a> <a href="/{{$board.Dir}}/res/{{$post.ID}}.html#i{{$post.ID}}">{{$post.ID}}</a></label> <span class="post-links"> <span class="thread-ddown">[<a href="javascript:void(0)">&#9660;</a>]</span></span><br />
			<div class="posttext">
				{{$post.Message}}
			</div>{{else}}
			<div class="post" id="{{$post.ID}}">
				<label class="post-info"><input type="checkbox" id="{{$post.ID}}" name="check{{$post.ID}}" /> <span class="postername">{{if stringEq $post.Name ""}}{{$board.Anonymous}}{{else}}{{$post.Name}}{{end}}</span>{{if stringNeq $post.Tripcode ""}}<span class="tripcode">!{{$post.Tripcode}}</span>{{end}} {{formatTimestamp $post.Timestamp}} <a href="135693079632">No.</a> <a href="{{$post.ID}}i">{{$post.ID}}</a></label> <span class="post-links"><span class="thread-ddown">[<a href="javascript:void(0)">&#9660;</a>]</span></span><br />
				{{if stringNeq $post.Filename ""}}<span class="file-info">File: <a href="{{$config.SiteWebfolder}}{{$board.Dir}}/src/{{$post.Filename}}">{{$post.Filename}}</a> - ({{formatFilesize $post.Filesize}} , {{$post.ImageW}}x{{$post.ImageH}}, {{$post.FilenameOriginal}} )</span><br />
				<a href="{{$config.SiteWebfolder}}{{$board.Dir}}/src/{{$post.Filename}}" target="_blank"><img src="{{$config.SiteWebfolder}}{{$board.Dir}}/thumb/{{imageToThumbnailPath $post.Filename}}" width="{{$post.ThumbW}}" height="{{$post.ThumbH}}" class="thumbnail" /></a>{{end}}

				<div class="posttext">
					{{$post.Message}}
				</div>
			</div>{{end}}{{end}}
		</div>
		<hr />
		<div id="left-bottom-content">
			<table id="pages" border="1">
				<tr><td>Previous</td><td>[0] [<a href="{{$op.ID}}p1.html">1</a>]</td><td><input type="button" value="Next" onclick="window.location.href = '{{$op.ID}}p1.html'" /></td></tr>
			</table>
			
			<span id="boardmenu-bottom">
				[{{range $i, $board := $board_arr.Data}}  {{if gt $i 0}}/{{end}} <a href="/{{$board.Dir}}/">{{$board.Dir}}</a> {{end}}]
			</span>
		</div>

		<div id="right-bottom-content">
			<span id="threadlinks-bottom">
				[<a href="{{$config.SiteWebfolder}}{{$board.Dir}}/board.html">Return</a>] [<a href="{{$op.ID}}-100.html">First 100 posts</a>] [<a href="{{$op.ID}}+50.html">Last 50 posts</a>]
			</span>
			
			<div id="report-delbox">
					<input type="hidden" name="board" value="{{$board.Dir}}" />
					<label>[<input type="checkbox" name="fileonly"/>File only]</label> <input type="password" size="10" name="password" /> <input type="submit" name="delete_btn" value="Delete" onclick="return confirm('Are you sure you want to delete these posts?')" /><br />
					Reason: <input type="text" size="10" name="reason" /> <input type="submit" value="Report" />
			</div>
		</div>
		</form>
	</div>
	<div id="footer">
		<a href="{{$config.SiteWebfolder}}">Home</a> | <a href="{{$config.SiteWebfolder}}#boards">Boards</a> | <a href="{{$config.SiteWebfolder}}#rules">Rules</a> | <a href="{{$config.SiteWebfolder}}#faq">FAQ</a><br />
		Powered by Gochan {{$config.Version}}<br />
	</div>
</body>
</html>