{{$config := getInterface .Data 0}}{{$post_arr := getInterface .Data 1}}{{$board_arr := getInterface .Data 2}}{{$section_arr := getInterface .Data 3}}
<!DOCTYPE html>

{{$op := getInterface $post_arr 0}}
<html>
<head>
	<title>Test</title>
	<script type="text/javascript" src="/javascript/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/javascript/msgpack.js"></script>
	<script type="text/javascript">
		var styles = [{{range $ii, $style := $config.Styles_img}}{{if gt $ii  0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{$config.SiteWebfolder}}"
	</script>
	<script type="text/javascript" src="/javascript/gochan.js"></script>

	<link rel="stylesheet" href="/css/global/img.css" />
{{range $i, $style := $config.Styles_img}}
	<link rel="{{if isStyleNotDefault_img $style}}alternate {{end}}stylesheet" href="/css/{{$style}}/img.css" />{{end}}
</head>
<body>
	<div id="topbar">
		<ul class="topbar-section">
			{{range $i, $board := $board_arr.Data}}
			<a href="/{{$board.Dir}}/"><li class="topbar-item">/{{$board.Dir}}/</li></a>
{{end}}		</ul>
	</div>
	<div id="top-pane">
		<span id="board-title">Test</span><br />
		<span id="board-subtitle">Testing subtitle</span>
	</div>
	<hr />
	<div id="threadlinks-top">
		<a href="board.html" >Return</a><br />
		<a href="thread-100.html">First 100 posts</a><br />
		<a href="thread+50.html">Last 50 posts</a><br />
	</div>
	<div id="right-sidelinks">
		<a href="catalog.html">Board catalog</a><br />
	</div>

	<div id="postbox-area">
		<center>
		<a href="#">Open Quick Reply box</a>
		<table id="postbox-static">
			<form name="postform" action="/post" method="POST">
				<tr><td class="postblock">Name</td><td><input type="text" name="postname" maxlength="75" size="28" value="Name" onFocus="if(this.value=='Name') {this,value= ''}" onBlur="if(this.value == '') { this.value = 'Name' }"/></td></tr>
				<tr><td class="postblock">Email</td><td><input type="text" name="postemail" maxlength="75" size="28" /></td></tr>
				<tr><td class="postblock">Subject</td><td><input type="text" name="postsubject" maxlength="75" size="35" /><input type="submit" value="Post"/></td></tr>
				<tr><td class="postblock">Message</td><td><textarea rows="4" cols="48" name="postmsg"></textarea></td></tr>
				<tr><td class="postblock">File</td><td><input name="imagefile" size="31" type="file"><input type="checkbox" id="spoiler"/><label for="spoiler">Spoiler</label></td></tr>
				<tr><td class="postblock">Password</td><td><input type="text" name="postpassword" size="14" /> (for post/file deletion)</td></tr>
			</form>
		</table>
		</center>
	</div>
	<hr />
	<div id="content">
		<div class="thread" id="74769">
			<span class="file-info">File: <a href="135710945820.jpg">135710945820.jpg</a> - (142.91KB , 756x888 , Chibi_Series___Flower_Forte_by_kubus_sama.jpg )</span><br />
			<img src="135710945820s.jpg" width="170" height="200" class="thumbnail"/>
			<label class="post-info"><input type="checkbox" id="74769" /> <span class="subject">Sup</span> <span class="postername"><a href="mailto:admin@lunachan.net">Zeke Roa</a></span><span class="tripcode">!ska.Jj.P5I</span> Tue, January 01, 2013 10:50 PM <a href="74769">No.</a> <a href="74769">74769</a></label> <span class="post-links"> <span class="thread-ddown">[<a href="javascript:void(0)">&#9660;</a>]</span></span><br />
			<div class="posttext">
				{{$op.Message}}
			</div>
			<div class="post" id="74770">
				<label class="post-info"><input type="checkbox" id="135693079632" /> <span class="postername">Anonymous</span> Tue, January 02, 2013 1:55:PM <a href="135693079632">No.</a> <a href="74770i">74770</a></label> <span class="post-links"><span class="thread-ddown">[<a href="javascript:void(0)">&#9660;</a>]</span></span><br />
				<span class="file-info">File: <a href="135693079632s.png">135693079632s.png</a> - (100.01KB , 200,200, 135693079632s.png )</span><br />
				<img src="135693079632s.png" width="94" height="125" class="thumbnail" />

				<div class="posttext">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
					<span class="spoiler">Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/>
				</div>
			</div>

			<div class="post" id="74770">
				<label class="post-info"><input type="checkbox" id="135693079632" /> <span class="postername">Anonymous</span> Tue, January 02, 2013 1:55:PM <a href="135693079632">No.</a> <a href="74770i">74770</a></label> <span class="post-links"><span class="thread-ddown">[<a href="javascript:void(0)">&#9660;</a>]</span></span><br />
				<div class="posttext">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
		</div>
		<hr />
		<div id="left-bottom-content">
			<table id="pages" border="1">
				<tr><td>Previous</td><td>[0] [<a href="threadp1.html">1</a>]</td><td><input type="button" value="Next" onclick="window.location.href = 'threadp1.html'" /></td></tr>
			</table>
			
			<span id="boardmenu-bottom">
				[ <a href="/test/">test</a> / <a href="/test2/">test2</a> ]
			</span>
		</div>

		<div id="right-bottom-content">
			<span id="threadlinks-bottom">
				[<a href="board.html">Return</a>] [<a href="thread-100.html">First 100 posts</a>] [<a href="thread+50.html">Last 50 posts</a>]
			</span>
			
			<div id="report-delbox">
				<form action="/post" method="POST">
					<label>[<input type="checkbox" name="fileonly"/>File only] <input type="text" size="10" name="password" /> <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete these posts?')" /><br />
					Reason: <input type="text" size="10" name="reason" /> <input type="submit" value="Report" />
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		<a href="/">Home</a> | <a href="/#boards">Boards</a> | <a href="/#rules">Rules</a> | <a href="/#faq">FAQ</a><br />
		Powered by Gochan 0.2<br />
	</div>
</body>
</html>