<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{with $.op.Subject}}
		{{if ne $.op.Subject ""}}
			<title>/{{$.board.Dir}}/ - {{truncateString $.op.Subject 20 true}}</title>
		{{else if ne $.op.MessageHTML ""}}
			<title>/{{$.board.Dir}}/ - {{truncateString $.op.MessageText 20 true}}</title>
		{{end}}
	{{else}}<title>/{{.board.Dir}}/ - {{.board.Title}}</title>{{end}}
	<script type="text/javascript" src="{{$.config.SiteWebfolder}}javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		var styles = [{{range $ii, $style := .config.Styles}}{{if gt $ii 0}}, {{end}}{Name: "{{$style.Name}}", Filename: "{{$style.Filename}}"}{{end}}];
		var defaultStyle = "{{$.config.DefaultStyle}}";
		var webroot = "{{$.config.SiteWebfolder}}";
		var thread_type = "thread";
		
		function changePage(sel) {
			window.location = webroot+"{{$.board.Dir}}/res/{{$.op.ID}}p"+sel.value+".html";
		}
	</script>
	<script type="text/javascript" src="{{$.config.SiteWebfolder}}javascript/gochan.js"></script>
	<script type="text/javascript" src="{{$.config.SiteWebfolder}}javascript/manage.js"></script>
	<link rel="stylesheet" href="{{.config.SiteWebfolder}}css/global.css" />
	<link id="theme" rel="stylesheet" href="{{.config.SiteWebfolder}}css/{{.config.DefaultStyle}}" />
	<link rel="shortcut icon" href="{{.config.SiteWebfolder}}favicon.png">
</head>
<body>
	<div id="topbar">
		{{range $i, $board := .boards}}<a href="{{$.config.SiteWebfolder}}{{$board.Dir}}/" class="topbar-item">/{{$board.Dir}}/</a>{{end}}
	</div>
