<style>
	table#stafftable, table#stafftable th, table#stafftable td {
		border: 1px solid;
	}
</style>
<table id="stafftable">
<tr><th>Username</th><th>Rank</th><th>Added on</th><th>Action</th></tr>
{{range $s, $staff := $.allstaff -}}
<tr>
	<td>{{$staff.Username}}</td>
	<td>{{$staff.RankTitle}}</td>
	<td>{{formatTimestamp $staff.AddedOn}}</td>
	<td>
		<a {{if eq $staff.Username $.currentUsername -}}
			href="{{webPath "/manage/staff"}}" title="Cannot self terminate" style="color: black;"
		{{- else -}}
			href="{{webPath "/manage/staff"}}?do=del&username={{$staff.Username}}" title="Delete {{$staff.Username}}" onclick="return confirm('Are you sure you want to delete the staff account for \'{{$staff.Username}}\'?')" style="color:red;"
		{{end}}>Delete</a>
	</td>
</tr>
{{end}}
</table><hr />
<h2>Add new staff</h2>
<form action="{{webPath "/manage/staff"}}" onsubmit="return makeNewStaff();" method="POST">
<input type="hidden" name="do" value="add" />
<table>
	<tr><td>Username:</td><td><input id="username" name="username" type="text"/></td></tr>
	<tr><td>Password:</td><td><input id="password" name="password" type="password"/></td></tr>
	<tr><td>Rank:</td><td><select id="rank" name="rank">
		<option value="3">Admin</option>
		<option value="2">Moderator</option>
		<option value="1">Janitor</option>
	</select></td></tr>
	<tr><td><input id="submitnewstaff" type="submit" value="Add" /></td></tr>
</table>
</form>
