<form action="{{$.webroot}}manage" method="GET">
	<input type="hidden" name="action" value="recentposts">
	<label for="boardid">Board:</label>
	<select name="boardid" id="boardid">
		<option value="0">All boards</option>
	{{- range $b, $board := $.allBoards -}}
		<option value="{{$board.ID}}" {{if eq $.boardid $board.ID}}selected{{end}}>/{{$board.Dir}}/ - {{$board.Title}}</option>
	{{- end -}}
	</select><br />
	<label for="limit">Limit:</label>
	<input type="number" name="limit" id="limit" value="{{$.limit}}" min="1"><br />
	<input type="submit" />
</form><hr />
<table width="100%" border="1">
	<colgroup><col width="5%"><col width="15%"><col width="60%"><col width="15%"></colgroup>
	<tr><th></th><th>Name</th><th>Message</th><th>Thumb</th></tr>
{{range $rp, $post := $.recentposts}}
<tr><td><a href="{{$post.WebPath}}" class="centered">Post</a></td>
<td><b>Name: </b> {{- if and (eq $post.Name "") (eq $post.Tripcode "")}}<span class="postername">Anonymous</span>{{end}}
	{{- if ne $post.Name ""}}<span class="postername">{{$post.Name}}</span>{{end -}}
	{{- if ne $post.Tripcode ""}}!<span class="tripcode">{{$post.Tripcode}}</span>{{end -}}<br />
	<b>IP: </b> {{$post.IP}}<br />
	<b>Board: </b>/{{$post.BoardDir}}/
</td>
<td>{{truncateMessage (stripHTML $post.Message) 300 16}}</td><td>
	{{- if eq $post.Filename "deleted" -}}
	<div class="file-deleted-box centered" style="text-align:center;">File removed</div>
	{{- else if ne $post.Filename "" -}}
	<a href="{{$post.UploadPath}}" target="_blank" class="centered"><img src="{{$post.ThumbnailPath}}"></a>
{{end}}</td></tr>{{end}}
</table>
