	<title>Gochan Manage page</title>
	<link rel="stylesheet" href="{{.SiteWebfolder}}css/global.css" />
	<link id="theme" rel="stylesheet" href="{{.SiteWebfolder}}css/{{.DefaultStyle}}" />
	<link rel="shortcut icon" href="{{.SiteWebfolder}}favicon.png" />
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/consts.js"></script>
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/gochan.js"></script>
</head>
<body>
