<div style="text-align: center;">
<form action="{{webPath "manage/templates"}}" method="POST" id="template-override">
{{with $.templateText}}
	<b>Editing: {{$.selectedTemplate}}</b>
	<textarea name="templatetext" class="template-text" rows="16" spellcheck="false">{{$.templateText}}</textarea>
	<input type="submit" name="dooverride" value="Submit" onsubmit="return prompt('Are you sure you want to override the template?')">
	<input type="submit" name="cancel" value="Cancel"/>
{{else}}
	Select a template: <select name="templateselect">
		{{range $t, $template := .templates}}
			<option value="{{$template}}">{{$template}}</option>
		{{end}}
	</select>
	<input type="submit" name="dotemplatechoose" value="Select template" />
{{end}}
</form>
</div>