<form action="{{webPath "manage/fixthumbnails"}}" method="POST">
<select name="board">
{{- range $b, $board := $.allBoards -}}
	<option value="{{$board.Dir}}" {{if eq $.board $board.Dir}}selected{{end}}>/{{$board.Dir}}/ - {{$board.Title}}</option>
{{- end -}}
</select>
<input type="submit" value="Select board"/>
</form><br/><br/>
{{if not (eq $.board "")}}
<form action="{{webPath "manage/fixthumbnails"}}" method="POST">
<input type="hidden" name="board" value="{{$.board}}">
<input type="hidden" name="fixboard" value="{{$.board}}">
<input type="submit" value="Regenerate thumbnails"/>
</form>
<h2>Uploads in /{{$.board}}/</h2>
<table>
	<tr><th>Post</th><th>Filename</th><th>Spoiler</th><th>Image size</th><th>Thumbnail size</th><th>Regenerate thumbnail</th></tr>
	{{range $_, $upload := $.uploads}}
	<tr>
		<td><a href="{{webPath $.board "res" (intToString $upload.OpID)}}.html#{{$upload.PostID}}">/{{$.board}}/{{$upload.PostID}}</a></td>
		<td>{{$upload.Filename}}</td>
		<td>{{if $upload.Spoilered}}Yes{{else}}No{{end}}</td>
		<td>{{$upload.Width}}x{{$upload.Height}}</td>
		<td>{{$upload.ThumbWidth}}x{{$upload.ThumbHeight}}</td>
		<td><a href="{{webPath "manage/fixthumbnails"}}?fixpost={{$upload.PostID}}">Regenerate</a></td>
	</tr>
	{{end}}
</table>
{{end}}