	<title>Gochan Manage page</title>
	<link rel="stylesheet" href="{{.SiteWebfolder}}css/global.css" />
	<link rel="stylesheet" href="{{$.SiteWebfolder}}css/{{.DefaultStyle}}.css" />
	<link rel="shortcut icon" href="{{.SiteWebfolder}}favicon.png" />
	<script type="text/javascript">
		var styles = [{{range $i, $style := .Styles}}{{if gt $i 0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{.SiteWebfolder}}"
	</script>
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/gochan.js"></script>
	<script type="text/javascript" src="{{.SiteWebfolder}}javascript/manage.js"></script>
</head>
<body>
