{{if eq 0 (len .reports)}}<i>No reports</i>{{else -}}

<form action="{{webPath `/manage/reports`}}" method="POST" onsubmit="return confirm('Are you sure you want to continue?');">
	<input type="submit" name="dismiss-all" value="Dismiss All">
	<input type="submit" name="dismiss-sel" value="Dismiss Selected">
	{{if eq $.staff.Rank 3 -}}
	<input type="submit" name="block-sel" value="Make Selected Unreportable">
	{{- end -}}
	<table id="reportstable" class="mgmt-table text-center">
		<tr><th><input type="checkbox" name="" id="check-all"></th><th>Post</th><th>Reason</th><th>Reporter IP</th><th>Poster IP</th><th>Staff assigned</th></tr>
		{{range $r,$report := .reports}}
		<tr>
			<td><input type="checkbox" name="report{{$report.ID}}"></td>
			<td><a href="{{$report.PostLink}}">Link</a> | <a href="{{webPath `/manage/bans`}}?dir={{$report.Board}}&postid={{$report.PostID}}">Ban</a></td>
			<td class="text-left">{{$report.Reason}}</td>
			<td><a href="{{webPath `/manage/ipsearch?ip=`}}{{$report.ReporterIP}}">{{$report.ReporterIP}}</a></td>
			<td><a href="{{webPath `/manage/ipsearch?ip=`}}{{$report.PosterIP}}">{{$report.PosterIP}}</a></td>
			<td class="{{if eq $report.StaffID nil}}text-italic{{end}}">
				{{if eq $report.StaffID nil}}unassigned{{else}}{{$report.StaffName}}{{end}}
			</td>
		</tr>{{end}}
	</table>
</form>{{end}}