{{if eq 0 (len .reports)}}<i>No reports</i>{{else -}}
<table id="reportstable" border="1">
<tr><th>Post</th><th>Reason</th><th>Reporter IP</th><th>Staff assigned</th><th>Actions</th></tr>
{{range $r,$report := .reports}}
<tr><td><a href="{{$report.post_link}}">Link</a></td><td>{{$report.reason}}</td><td>{{$report.ip}}</td><td>
	{{- if (lt $report.staff_id 1) -}}
		<i>unassigned</i>
	{{- else -}}
		{{$report.staff_user}}
	{{- end -}}
</td><td>
	<a href="{{webPath "manage?action=reports&dismiss="}}{{$report.id}}">Dismiss</a>
	{{if eq $.staff.Rank 3 -}}
	|
	<a href="{{webPath "manage?action=reports&dismiss="}}{{$report.id}}&block=1" title="Prevent future reports of this post, regardless of report reason">Make post unreportable</a>
	{{- end}}
</td></tr>
{{end}}
</table>
{{end}}