<fieldset><legend>Announcements</legend>
{{range $a, $announcement := $.announcements}}
	<div class="announcement">
		<b>{{$announcement.Subject}}</b><br />
		{{$announcement.Message}}
	</div>
	{{if gt (len $.announcements) (add $a 1)}}<hr />{{end}}
{{else}}
	<i>No announcements</i>
{{end}}
</fieldset><br />
<fieldset><legend>Boards</legend>
{{with $.boards}}
	<ul>
	{{range $b, $board := $.boards}}
		<li><a href="{{$.webroot}}{{$board.Dir}}/">/{{$board.Dir}}/</a> - {{$board.Title}}</li>
	{{end}}
	</ul>
{{else}}
	<i>No boards</i>
{{end}}
</fieldset><br />
<fieldset><legend>Staff actions (role: administrator)</legend>
	<ul>
	{{range $a, $action := $.actions}}
		{{if ne $action.Title "Dashboard"}}<li><a href="{{$.webroot}}manage?action={{$action.ID}}">{{$action.Title}}</a> </li>{{end}}
	{{end}}
	</ul>
</fieldset>
