	<title>Gochan Manage page</title>
	<link rel="stylesheet" href="/css/global/manage.css" />
{{range $i, $style := .Styles_img}}
	<link rel="{{if isStyleNotDefault_img $style}}alternate {{end}}stylesheet" href="/css/{{$style}}/manage.css" />{{end}}

	<script type="text/javascript">
		var styles = [{{range $i, $style := .Styles_img}}{{if gt $i  0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{.SiteWebfolder}}"
	</script>
	<script type="text/javascript" src="/javascript/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/javascript/gochan.js"></script>
	<script type="text/javascript" src="/javascript/manage.js"></script>
</head>
<body>
