{{template "page_header.html" .}}
<header>
	<h1 id="board-title">Move thread</h1>
</header><hr />
<form action="{{webPath "/util"}}" method="POST" id="main-form">
	<input name="srcboardid" type="hidden" value="{{.srcBoard.ID}}" />
	<input name="postid" type="hidden" value="{{.postid}}" />
	<input name="domove" type="hidden" value="1" />
	<input type="hidden" name="srcboardid" value="{{.srcBoard.ID}}" />
	<input type="hidden" name="password" value="{{.password}}" />
	<table>
		<tr><td>Source board:</td><td>/{{.srcBoard.Dir}}/</td></tr>
		<tr><td>Desination board:</td><td><select name="destboardid" id="">
			{{range $b,$board := .destBoards}}<option value="{{$board.ID}}">/{{$board.Dir}}/ - {{$board.Title}}</option>{{end}}
		</select></td></tr>
	</table>
	<input type="submit" value="Move thread" />
	<input type="button" value="Cancel" onclick="window.location = '{{webPath .srcBoard.Dir}}/'">
</form>
{{- template "page_footer.html" .}}