<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{with .ban -}}
		{{if .BannedForever}}YOU'RE PERMABANNED,&nbsp;IDIOT!{{else}}YOU ARE BANNED :({{end}}
	{{- else -}}
		{{- with .board -}}
			{{- with $.op}}{{.TitleText}}{{else}}/{{$.board.Dir}}/ - {{$.board.Title}}{{end -}}
		{{- else -}}
			{{- with $.documentTitle}}documentTitle: {{.}}
			{{- else -}}
				{{- with $.pageTitle -}}{{$.pageTitle}} - {{$.siteConfig.SiteName}}
				{{else}}{{$.siteConfig.SiteName}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
	{{- end}}</title>
	<link rel="stylesheet" href="{{webPath "/css/global.css"}}" />
	{{with .board -}}
		<link id="theme" rel="stylesheet" href="{{webPath "/css/" (getBoardDefaultStyle $.board.Dir)}}" />
	{{- else -}}
		<link id="theme" rel="stylesheet" href="{{webPath "/css/" .boardConfig.DefaultStyle}}" />
	{{- end}}
	<link rel="shortcut icon" href="{{webPath "/favicon.png"}}">
	{{- if .boardConfig.EnableGeoIP -}}
		<link id="flags" rel="stylesheet" href="{{webPath `/css/flags.css`}}"/>
	{{- end -}}
	<script type="text/javascript" src="{{webPath "/js/consts.js"}}"></script>
	<script type="text/javascript" src="{{webPath "/js/gochan.js"}}"></script>
</head>
<body>
{{template "topbar" .}}
{{with $.pageTitle -}}<header>
	<h1 id="board-title">{{$.pageTitle}}</h1>
	{{with $.includeDashboardLink -}}
		<a href="{{webPath "/manage"}}" class="board-subtitle">Return to dashboard</a><br/>
	{{- end}}
</header>{{end}}
<div id="content">