<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Post</title>
	<script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		var styles = [{{range $ii, $style := $.config.Styles_img}}{{if gt $ii  0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{$.config.SiteWebfolder}}";
	</script>
	<script type="text/javascript" src="/javascript/gochan.js"></script>
	<script type="text/javascript" src="/javascript/manage.js"></script>
	<link rel="stylesheet" href="/css/global/img.css" />
{{range $_, $style := .config.Styles_img}}
	<link rel="{{if not (isStyleDefault_img $style)}}alternate {{end}}stylesheet" href="/css/{{$style}}/img.css" />{{end}}
	<link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
	<header>
		<h1>Edit post</h1><br />
		<div class="subtitle"><a href="{{.referrer}}">Return</a></div>
	</header>

	<form action="/util" method="POST" id="edit-form">
		<input name="postid" type="hidden" value="{{.post.ID}}" />
		<input name="boardid" type="hidden" value="{{.post.BoardID}}" />
		<input name="parentid" type="hidden" value="{{.post.ParentID}}" />
		<input name="password" type="hidden" value="{{.post.Password}}" />
		<input name="doedit" type="hidden" value="1" />
		<table id="postbox-static" align="center">
			<tr><th class="postblock">Name</th><td>{{stringAppend .post.Name "#" .post.Tripcode}}</td></tr>
			<tr><th class="postblock">Email</th><td>{{.post.Email}}</td></tr>
			<tr><th class="postblock">Subject</th><td><input type="text" name="editsubject" maxlength="100" size="30" autocomplete="off" value="{{.post.Subject}}"/><input type="submit" value="{{with .op}}Reply{{else}}Post{{end}}"/></td></tr>
			<tr><th class="postblock">Message</th><td><textarea rows="4" cols="48" name="editmsg" id="editmsg">{{.post.MessageText}}</textarea></td></tr>
		</table>
	</form><br />
{{template "global_footer.html" .}}