{{define "postbox.html"}}
<div id="postbox-area">
	<form id="postform" name="postform" action="{{webPath "/post"}}" method="POST" enctype="multipart/form-data">
	{{- with .op}}
		<input type="hidden" name="threadid" value="{{$.op.ID}}" />
	{{- else -}}
		<input type="hidden" name="threadid" value="0" />
	{{- end}}
		<input type="hidden" name="boardid" value="{{$.board.ID}}" />
		<table id="postbox-static">
			<tr><th class="postblock">Name</th><td><input type="text" name="postname" maxlength="100" size="25" /></td></tr>
			<tr><th class="postblock">Email</th><td><input type="text" name="postemail" maxlength="100" size="25" /></td></tr>
			<tr><th class="postblock">Subject</th><td><input type="text" name="postsubject" size="25" maxlength="100">
				<input type="text" name="username" style="display:none"/>
				<input type="submit" value="{{with .op}}Reply{{else}}Post{{end}}"/></td></tr>
			<tr><th class="postblock">Message</th><td><textarea rows="5" cols="35" name="postmsg" id="postmsg"></textarea></td></tr>
			<tr><th class="postblock">File</th><td><input name="imagefile" type="file" accept="image/jpeg,image/png,image/gif,video/webm,video/mp4"><input type="checkbox" id="spoiler" name="spoiler"/><label for="spoiler">Spoiler</label></td></tr>
			{{- if or (customFlagsEnabled $.board.Dir) $.boardConfig.EnableGeoIP -}}
			<tr>
				<th class="postblock">Flag</th>
				<td>
					<select name="post-flag" id="post-flag">
						{{- if $.boardConfig.EnableGeoIP -}}
							<option value="geoip">Local flag</option>
						{{- end -}}
						{{- if $.boardConfig.EnableNoFlag -}}
							<option value="">No flag</option>
						{{- end -}}
						{{- range $_,$flag := $.boardConfig.CustomFlags -}}
							<option value="{{$flag.Flag}}">{{$flag.Name}}</option>
						{{- end -}}
					</select>
					<img class="flag-preview" src="{{webPath `/static/flags/blank.gif`}}">
				</td>
			</tr>
			{{- end -}}
			<tr><th class="postblock">Password</th><td><input type="password" id="postpassword" name="postpassword" size="14" /> (for post/file deletion)</td></tr>
			{{if .useCaptcha -}}
				<tr><th class="postblock">CAPTCHA</th><td>
					<div class="h-captcha" data-sitekey="{{.captcha.SiteKey}}"></div>
					<script src="https://js.hcaptcha.com/1/api.js" async defer></script>				
				</td></tr>
			{{- end}}
		</table><input type="password" name="dummy2" style="display:none"/>
	</form>
</div>{{end}}