{{template "page_header.html" .}}
	<header>
		<h1 id="board-title">/{{$.board.Dir}}/ - {{$.board.Title}}</h1>
		<div id="board-subtitle">
			{{$.board.Subtitle}}<br/>
			<a href="{{webPathDir $.board.Dir}}" >Return</a> | <a href="#" onClick="window.location.reload(); return false;">Update</a> | <a href="{{webPath $.board.Dir "/catalog.html"}}">Catalog</a> | <a href="#footer">Bottom</a>
		</div>
	</header><hr />
	{{template "postbox.html" .}}<hr />
		<form action="{{webPath "/util"}}" method="POST" id="main-form">
		<div class="thread" id="{{$.op.ID}}">
			{{$global := .}}
			{{- template "post.html" map "global" $global "board" .board "post" .op "thread" $.thread -}}
			{{range $reply_num,$reply := .posts -}}
				{{- template "post.html" map "global" $global "board" $global.board "post" $reply -}}
			{{- end -}}
		</div><hr />
		<div id="right-bottom-content">
			<div id="report-delbox">
				<input type="hidden" name="board" value="{{.board.Dir}}" />
				<input type="hidden" name="boardid" value="{{.board.ID}}" />
				<label>[<input type="checkbox" name="fileonly"/>File only]</label> <input type="password" size="10" name="password" id="delete-password" /> <input type="submit" name="delete_btn" value="Delete" onclick="return confirm('Are you sure you want to delete these posts?')" /><br />
				Report reason: <input type="text" size="10" name="reason" id="reason" /> <input type="submit" name="report_btn" value="Report" /><br />
				<input type="submit" name="edit_btn" value="Edit post" />&nbsp;
				<input type="submit" name="move_btn" value="Move thread" />
			</div>
		</div>
	</form>
	<div id="left-bottom-content">
		<a href="{{webPathDir .board.Dir}}">Return</a> | <a href="#">Scroll to top</a><br /><br />
		<span id="boardmenu-bottom">
			[<a href="{{webPathDir "/"}}">home</a>]&nbsp;
			[{{range $i, $boardlink := .boards -}}
				{{if gt $i 0}}/{{end -}}&nbsp;<a href="{{webPathDir $boardlink.Dir}}">{{$boardlink.Dir}}</a>&nbsp;
			{{- end}}]
		</span>
	</div>
	{{template "page_footer.html" .}}
