{{define "topbar" -}}
<div id="topbar">
	<div class="topbar-left">
		<div class="topbar-section"><a href="{{webPathDir `/`}}" class="topbar-item homelink">home</a></div>
		<div class="topbar-boards">
			{{- range $s, $section := $.sections -}}
				<div class="topbar-section">
				{{- with $sectionBoards := sectionBoards $section.ID -}}
					{{range $b, $board := $sectionBoards -}}
						<a href="{{webPathDir $board.Dir}}" class="topbar-item" title="{{$board.Title}}">/{{$board.Dir}}/</a>
					{{- end -}}
				{{- end -}}
				</div>
			{{- end -}}
		</div>
	</div>
	<div class="topbar-right"></div>
</div>
{{- end -}}