@use 'colors';
@use '../global/colors' as global-colors;
@use "../util";

h1#board-title {
	font-family: serif;
	font-size: 2em;
	color: global-colors.$headercol;
}

.postblock {
	background:colors.$postblock;
}

div.file-info {
	font-size: 1em;
	font-family: sans-serif;
}

span.postername {
	font-size: 1em;
	font-family: serif;
	color: global-colors.$namecol;
	font-weight: 800;
}

div.reply,
select.post-actions,
div.postprev,
div.inlinepostprev {
	background:#D6DAF0;
}

select.post-actions,
div.reply,
div.postprev,
div.inlinepostprev {
	border: 1px solid colors.$bordercol;
}

.dice-roll {
	border: 1px dashed #222;
}

@include util.upload-box(#aaa, #444, #666);