# pass everything to gochan via HTTP
# this should go in /etc/nginx/sites-enabled. Change as necessary.

server {
	listen	80;
	listen	[::]:80;
	listen	443 ssl;
	listen	[::]:443 ssl ipv6only=on;

	ssl_protocols 		TLSv1 TLSv1.1 TLSv1.2;
	ssl_certificate		/etc/ssl/certs/nginx-selfsigned.crt;
	ssl_certificate_key	/etc/ssl/private/nginx-selfsigned.key;

	server_name				localhost;
	client_max_body_size	12M;

	location / {
		proxy_pass	http://127.0.0.1:8080;
	}

	
	location ~ /\.ht {
		deny all;
	}
}
