[Unit]
Description=gochan Daemon
Wants=postgresql.service
After=postgresql.service

[Service]
ExecStart=/usr/bin/gochan

[Install]
WantedBy=multi-user.target