# Pass everything to gochan via FastCGI
# This should go in /etc/nginx/sites-enabled, as a symbolic link if you're using vagrant. 
# Change as necessary (duh).

server {
	listen	80;
	listen	[::]:80;
	listen	443 ssl;
	listen	[::]:443 ssl ipv6only=on;

	ssl_protocols 		TLSv1 TLSv1.1 TLSv1.2;
	ssl_certificate		/etc/ssl/certs/nginx-selfsigned.crt;
	ssl_certificate_key	/etc/ssl/private/nginx-selfsigned.key;

	server_name				localhost;
	client_max_body_size	12M;

	location / {
		fastcgi_pass	127.0.0.1:9000;
		fastcgi_index	index.html;
		fastcgi_param	SCRIPT_FILENAME /scripts$fastcgi_script_name;
		include			fastcgi_params;
	}

	location ~ /\.ht {
		deny all;
	}
}
