<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Gochan Manage Page - Boards</title>
	<script type="text/javascript" src="/javascript/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		var styles = [{{range $ii, $style := $config.Styles_img}}{{if gt $ii  0}}, {{end}}"{{$style}}"{{end}}];
		var webroot = "{{$config.SiteWebfolder}}";
		var thread_type = "board";
	</script>
	<script type="text/javascript" src="/javascript/gochan.js"></script>
	<script type="text/javascript" src="/javascript/manage.js"></script>
	<link rel="stylesheet" href="/css/global/img.css" />
{{range $i, $style := $config.Styles_img}}
	<link rel="{{if isStyleNotDefault_img $style}}alternate {{end}}stylesheet" href="/css/{{$style}}/img.css" />{{end}}
</head>
<body>
	<h1>Manage boards</h1>
	<form action="/manage?action=boards" method="POST">
		<input type="hidden" name="do" value="existing" />
		<select name="boardselect">
			<option>Select board...</option>
			<option>test</option>
		</select>
		<input type="submit" value="Edit" /> <input type="submit" value="Delete" /> <input type="submit" value="Go To" />
	</form>
	<h2>Create new board</h2>
	<form action="/manage?action=boards" method="POST">
	<input type="hidden" name="do" value="add" />
	<table class="board-options">
		<tr><th class="option-column">Option</th><th class="value-column">Value</th></tr>
		<tr><td>Directory</td><td><input type="text" name="dir" value="" /></td></tr>
		<tr><td>Section</td><td><select name="section" selected="0">
			<option value="none">Select section...</option>
		</select></td></tr>
		
		<tr><td>Order</td><td><input type="text" name="order" value="0" /></td></tr>
		<tr><td>Title</td><td><input type="text" name="title" value="" /></td></tr>
		<tr><td>Subtitle</td><td><input type="text" name="subtitle" value="" /></td></tr>
		<tr><td>Description</td><td><input type="text" name="description" value="" /></td></tr>
		<tr><td>Max image size</td><td><input type="text" name="maximagesize" value="4718592" /></td></tr>
		<tr><td>Max pages</td><td><input type="text" name="maxpages" value="11" /></td></tr>
		<tr><td>Default style</td><td><select name="defaultstyle" selected="">
			{{range $i, $style := $config.Styles_img}}
				<option value="{{$style}}">{{$style}}</option>{{end}}
		</select></td></tr>
		<tr><td>Locked</td><td><input type="checkbox" name="locked" /></td></tr>
		<tr><td>Forced anonymity</td><td><input type="checkbox" name="forcedanon" /></td></tr>
		<tr><td>Anonymous name</td><td><input type="text" name="anonymous" value="Anonymous" /></td></tr>
		<tr><td>Max age</td><td><input type="text" name="maxage" value="0"/></td></tr>
		<tr><td>Bump limit</td><td><input type="text" name="autosageafter" value="200"/></td></tr>
		<tr><td>No images after</td><td><input type="text" name="noimagesafter" value="0"/></td></tr>
		<tr><td>Max message length</td><td><input type="text" name="maxmessagelength" value="8192"/></td></tr>
		<tr><td>Embeds allowed</td><td><input type="checkbox" name="embedsallowed" /></td></tr>
		<tr><td>Redirect to thread</td><td><input type="checkbox" name="redirecttothread" checked/></td></tr>
		<tr><td>Require an uploaded file</td><td><input type="checkbox" name="require_file" /></td></tr>
		<tr><td>Enable catalog</td><td><input type="checkbox" name="enablecatalog" checked /></td></tr>
	</table>
	<input type="submit" /></form>
</body>
</html>
