[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin
bind-address = 0.0.0.0
max_allowed_packet=256M

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0