@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

.adminbar {
	clear: both;
	float: right;
	text-align: right;
}

.commentpostername {
	color: #117743;
	font-weight: 800;
}

.delbuttons {
	padding-bottom: 4px;
	text-align: center;
}

.dellist {
	font-weight: 700;
	text-align: center;
}

.doubledash {
	clear: both;
	float: left;
	vertical-align: top;
}

.filesize {
	text-decoration: none;
}

.filetitle {
	background: inherit;
	color: #CC1105;
	font-size: 1.2em;
	font-weight: 800;
}

.footer {
	font-family: serif;
	font-size: 12px;
	text-align: center;
}

.highlight {
	background: #F0E0D6;
	border: 2px dashed #EA8;
	color: maroon;
}

.logo {
	clear: both;
	color: maroon;
	font-size: 2em;
	text-align: center;
	width: 100%;
}

.managehead {
	background: #AA6;
	color: #400000;
	padding: 0;
}

.oldpost {
	color: #CC1105;
	font-weight: 800;
}

.omittedposts,.abbrev {
	color: #707070;
}

.passvalid {
	background: #000;
	color: #fff;
	text-align: center;
	width: 100%;
}

.postblock {
	background: #000;
	color: #fff;
	font-weight: 800;
}

.postername {
	color: #117743;
	font-weight: 700;
}

.postertrip {
	color: #228854;
}

.postlists {
	background: #FFF;
	color: maroon;
	padding: 0;
	width: 100%;
}

.reply {
	background: #F0E0D6;
	color: maroon;
}

.replytitle {
	color: #CC1105;
	font-size: 1.2em;
	font-weight: 800;
}

.row1 {
	background: #1a1a1a;
	color: #fff;
}

.row2 {
	background: #2a2a2a;
	color: #fff;
}

.rules {
	font-size: .7em;
}

.theader {
	background: #E04000;
	color: #FFF;
	padding: 2px;
	text-align: center;
	width: 100%;
}

.thumbnailmsg {
	color: maroon;
	font-size: small;
}

.unkfunc {
	background: inert;
	color: #789922;
}

a {
	color: #ff0;
}

a:hover {
	color: #D00;
}

html,body {
	background: #135;
	color: #fff;
	font-family: "comic sans ms","Walter Turncoat",cursive;
}